[2019-10-22 15:11] imsnif opened #2 "Raw mode"
It would be nice if the utility would allow for a `--raw` flag. Instead of displaying the UI, it would output a stream of easily parsable state (essentially what we see in the UI every second).

[2019-11-02 14:56] alicektx commented on #2
Hi, at first, let me thank you for this wonderful program.

Just wanted to say that it would be pretty great,
if at some point down the road,
the data could optionally be logged somewhere
(processes->remote ip:ports is what comes to mind).

All the best

[2019-11-04 12:50] imsnif commented on #2
Thanks for your input @alicektx ! I'm happy you like this tool :)

I'm working on this feature now and hope to have it released sometime in the next few days.

[2019-11-05 20:12] imsnif commented on #2
Hey @alicektx - version `0.2.0` now includes a `--raw` flag that you can use when you want to parse/redirect or log all the data.

Would be happy to hear any further input.

[2019-11-05 20:12] #2 closed

[2019-11-06 17:59] alicektx commented on #2
Absolutely wonderful - thank you good sir!
Further input...maybe a paypal address,
so that simple end-users / not programmers like me,
can buy you a couple of beers! :beer: :gift:

[2019-11-06 22:05] imsnif commented on #2
Wow, thanks so much - that is very kind! :)

Any other feedback (now or in the future) would definitely be appreciated. I honestly didn't know if people would need something like this, and am curious to find out how people use it (or would like to use it).

[2019-11-11 09:01] imsnif opened #3 "Port to Mac"
This should mostly involve creating something like this: https://github.com/imsnif/what/blob/master/src/os/linux.rs for mac.

Some assumptions have been made in this file, but I'd be happy to give guidance.

[2019-11-11 09:05] imsnif opened #4 "Refactor tests"
Right now there's a lot of repetition going on there - they could definitely benefit from some shared functionality (maybe a utilities.rs file?)

[2019-11-12 10:18] imsnif opened #6 "Faster DNS resolution"
Right now we use just 1 background thread to resolve IPs into their hostnames with reverse dns. We could benefit from using a thread pool and doing this much quicker.

[2019-11-12 10:21] imsnif opened #7 "Integration tests"
At the moment, the tests run separately from the OS implementation. It would be nice to find a way to test the OS implementation as well.

[2019-11-12 10:55] imsnif commented on #3
Done. Thanks @etoledom!

[2019-11-12 10:55] #3 closed

[2019-11-12 11:15] imsnif opened #9 "Add to Homebrew"
Now that `what` supports MacOS, it would be nice to add it to brew for an easier installation.

[2019-11-13 12:50] logix2 opened #10 "Generic Linux binaries"
Would it be possible to provide generic Linux binaries for download? That would make it so much easier to install and run in Linux. I see many Rust tools tend to do this, e.g. [https://github.com/starship/starship/releases](https://github.com/starship/starship/releases), [https://github.com/sharkdp/bat](https://github.com/sharkdp/bat), etc.

Thanks!

[2019-11-13 14:44] imsnif commented on #10
Done. Thanks for your feedback! I'm still working out a release process. :)

[2019-11-13 14:44] #10 closed

[2019-11-13 14:50] logix2 commented on #10
Thank you so much!

[2019-11-23 12:13] imsnif opened #14 "In the UI, calculate bandwidth for the past N seconds rather than just 1"
Right now, the UI works by looping every second, displaying the bandwidth utilization and then clearing it. This gives us an accurate and no-fuss bandwidth-per-second display, but also provides for a less-than-ideal user experience, since utilization information can flicker in and out if it is short lived.

A possible solution would be to log the bandwidth utilization for the past N seconds* and t

[2019-11-23 12:16] imsnif opened #15 "Windows port"
This would involve creating an `os/windows.rs` file that would provide a similar interface to the ones provided by `os/linux.rs` and `os/macos.rs`. I'd be happy to provide guidance if needed.

[2019-11-23 13:51] imsnif opened #16 "Listen on all interfaces"
`what` now listens on the interface given by the `-i` flag. The default behaviour should probably be "listen on all interfaces", with the -i flag being an optional override.

Things that are needed to do this:
1. The OS layer (eg. `os/linux.rs`) needs to be adjusted.
2. The `OsInputOutput` struct needs to be adjusted to get multiple network interfaces.
3. The UI needs to be adjusted to display the

[2019-11-23 14:01] imsnif opened #17 "Shared os behaviour"
There are some functions in `os/linux.rs` and `os/macos.rs` that are identical. It would be great if we could have a `shared.rs` file that exposes them and then `use` them from there.

[2019-11-27 22:23] wezm opened #20 "FreeBSD port"
Building on FreeBSD results in this error as there is no `os` module implementation for it.

[code]

[2019-11-27 23:59] imsnif commented on #20
If you'd be willing to do some testing (I don't have access to a FreeBSD box unfortunately), this might be a quick fix (I think trying either the linux or the mac version with it might do the trick).

[2019-11-30 17:04] #17 closed

[2019-12-01 03:45] calvinbrown085 commented on #15
Hey! I’d be happy to give this a shot!

[2019-12-02 08:10] imsnif commented on #15
@calvinbrown085 - that would be great! Do you need any direction/guidance? Or are you good to go? In any case, feel free to ask any questions here or reach out to me by email - as you prefer.

[2019-12-02 12:23] calvinbrown085 commented on #15
@imsnif I was working on it a bit last night, I was having trouble getting it to compile on windows, (i'm assuming because some parts aren't available on windows)

[2019-12-02 12:36] imsnif commented on #15
So, I'm guessing the parts that don't compile on windows would all be under `os/`. I'd start by stubbing them out (right now, essentially adding conditional compilation to the `shared` module). If there are still things that don't compile (in other folders) that's not good and we'll need to think about that.

[2019-12-06 22:53] ebroto opened #21 "Fix clippy warnings"
As discussed in #12, there are some clippy warnings that need fixing.

Maybe a clippy pass could be added in the CI to avoid this popping up again?

[2019-12-07 12:39] #6 closed

[2019-12-07 14:29] imsnif commented on #21
Sounds good. Do you want to add it?

[2019-12-07 15:15] ebroto commented on #21
Sure! I can take a look tonight

[2019-12-18 19:19] #21 closed

[2019-12-18 22:03] mmstick opened #24 "Compiler error on Linux"
When installing with `cargo install what` with Rust 1.39.0.

[code]

[2019-12-18 22:57] ebroto commented on #24
Hey @mmstick, thanks for the heads-up! A dependency has been upgraded and it broke the build. I will push an update tomorrow, for the moment it should work if you install with this command:
[code]
It seems that `cargo install` ignores the `Cargo.lock` file by default.

[2019-12-18 23:24] mmstick commented on #24
That's interested, and unexpected. Seems as though it should be "locked" by default.

[2019-12-19 12:29] imsnif commented on #24
Yes, this is a big pain and has burned us in the past. :(

[2019-12-20 16:42] #24 closed

[2019-12-20 20:28] #16 closed

[2019-12-22 10:00] imsnif opened #26 "Wrong bandwidth calculation when listening on all interfaces"
When using the -i flag, the bandwidth is calculated correctly, however when listening on all interfaces (current default behaviour) it seems like a lot of packets are lost and not counted.

To reproduce: download something large (eg. a linux distribution) and look at the bandwidth indication. Start `what` while listening on all interfaces - forme, the bandwidth indication on the download reads ~5M

[2019-12-22 10:30] ebroto commented on #26
Oof, did not see that one coming.

I'd like to take a look but I won't be able to do it until tonight, so feel free to dig into it if you want to make it move faster.

Yes, depending on how the calculations are made we are reading packets less often. Also maybe the change for the select timeout can be related.

[2019-12-22 10:50] imsnif commented on #26
I also won't be able to take a good look at it today - so no worries. We didn't lose functionality, and bugs happen. If you don't find the time, I'll get to it sometime during the week probably.

I thought about the select timeout too, but don't you think it would also affect just one interface?

If it's the for loop, a (somewhat) trivial fix might be to spawn one thread per interface (or build so

[2019-12-23 07:46] #26 closed

[2019-12-30 09:30] clemisch opened #29 "crate compile error linux"
**TL;DR: Update your rust compiler/cargo**

Hi,

when I do `cargo install what --locked` I get the following build error:

[code]

I guess this is not a problem on your end, but since 1. I'm a rust noob and 2. this is the suggested way of installing `what` I raise this issue here.

I'm on Ubuntu 18.04.3 with cargo 1.37.0.

[2019-12-30 09:31] disposedtrolley commented on #29
I have the same issue on macOS 10.15.2 and Cargo 1.36.0

[2019-12-30 09:43] Johnson-Lease commented on #29
It also happened to me. I am using Ubuntu 19.10.

[2019-12-30 09:59] LoyVanBeek opened #30 "Installation to `~/.cargo/bin/what` prevents `sudo` usage"
`what` should be run with root privileges on my Ubuntu 16.04 box.
But, `cargo install what`, as stated in the README installs to  `~/.cargo/bin/what` by default.
That means `sudo what` comes back with `sudo: what: command not found`.

Easily fixed with a symlink or by passing cargo some extra args maybe, but good to put in the README if that is the best solution.

[2019-12-30 10:39] leonaves opened #31 "Fails to listen to network interface on Catalina"
On Catalina (10.15.2):

[code]

[2019-12-30 10:51] hobofan commented on #31
I think this is might be related to SIP, which is on by default. See https://apple.stackexchange.com/questions/208478/how-do-i-disable-system-integrity-protection-sip-aka-rootless-on-macos-os-x

[2019-12-30 11:10] ztj commented on #31
It seems to be picking an unused/inactive interface by default. You can directly tell it which interface to use with the -i parameter. However, when doing this in my attempts so far, it displays no traffic use despite there definitely being traffic.

To be clear, it does show the UI and there is no longer the mentioned error if, for example, I run `sudo what en0` on my system where en0 is the name

[2019-12-30 11:18] wscott commented on #29
try `rustup update`

[2019-12-30 11:33] atulatri commented on #31
I am seeing same issue on Mojave Version 10.14.5

[2019-12-30 11:41] jbpratt78 commented on #31
I am also seeing no traffic displayed. (Mojave Version 10.14.6)

[2019-12-30 12:01] jbpratt78 commented on #9
@imsnif I am in the process of doing this now. One thing that I have a question about before submitting the PR to Homebrew-Core is the test that gets ran post install of the package. https://docs.brew.sh/Formula-Cookbook#add-a-test-to-the-formula

Trying to make sure we get through without many issues (https://github.com/Homebrew/homebrew-core/pull/48129#discussion_r361178524)

[2019-12-30 12:17] vithalreddy commented on #30
until it's fixed, This workaround: `sudo ~/.cargo/bin/what` can be used.

[2019-12-30 12:28] IvRRimum commented on #31
Same

[2019-12-30 12:29] Vengarioth commented on #31
chances are there's a tool called `what` already installed on osx. use `sudo ~/.cargo/bin/what -i en0` to be sure to use the right tool

[2019-12-30 12:33] Grishy opened #33 "macOS: Failed to listen on network interface"
Hi,

[code]

it works, but nothing happens
[code]

![image](https://user-images.githubusercontent.com/13949080/71582124-b6d7e380-2b19-11ea-8f96-b8520fd3b8cb.png)

**what v0.5.1**

[2019-12-30 12:44] clemisch commented on #29
Thank you, tl;dr: it worked.

Is rustup a common rust environment?

I'm asking because I had to remove rustc and conda installed from `apt install conda` before installing rustup via the (imho) awkward `curl ... | sh`. Both not pleasant... but again, not a fault of the `what` devs I guess.

@wscott Can you elaborate on the reason of the original compile error? Is the rust core not backwards compat

[2019-12-30 12:44] buraksezer commented on #33
I'm having the same issue. It refuses to work without root permissions. When I run it via sudo, there is no data on the screen.

[2019-12-30 12:44] SuperSandro2000 opened #34 "Not showing all traffic (only ipv4)"
I tried generating a lot of network traffic with ``wget https://speed.hetzner.de/10GB.bin -O /dev/null`` and to my surprise `sudo ./what -i eth0` does not show any traffic. I double checked the interface with `sudo \nethogs eth0` and the traffic is displayed there. Is this by design? Am I doing something wrong?

[2019-12-30 13:04] rotten opened #35 "Does not install on Ubuntu 19.10"
I'm not sure what dependency might be missing.

[code]
[code]

[2019-12-30 13:13] Maximophone commented on #31
Same problem here. I tried all network interfaces with the "-i" argument, all of them show no data, except en5 which still outputs the "device not configured" error

[2019-12-30 13:16] Maximophone commented on #33
Duplicate issue: https://github.com/imsnif/what/issues/31

[2019-12-30 13:25] olorton commented on #9
I'm was not sure how you would test a tool like this, so I had a look at the test for htop, it might be helpful for you: [.../Formula/htop.rb#L41](https://github.com/Homebrew/homebrew-core/blob/master/Formula/htop.rb#L41)

[2019-12-30 13:29] wscott commented on #29
I do not understand the error message or what changed with the more recent releases of Rust to cause that error. However, Rust is still a new language and upgrading the compiler is still a pretty common fix to issues like this.

The compiler compatibility guarantees work like this: code that works will continue working in future releases of the compiler. When they make breaking changes it is when

[2019-12-30 13:32] clemisch commented on #29
Thank you for clarifying!

[2019-12-30 13:33] wscott commented on #29
And, yeah, the Rust packaged for most distributions is too old to be useful to play with the latest programs.  Using 'rustup' which installs the latest stable compiler under your user account is more useful.

[2019-12-30 13:33] #29 closed

[2019-12-30 13:36] TheWoodsy commented on #35
Same issue here. Tested with 19.04 and 19.10.
Something something version issues something... See https://github.com/imsnif/what/issues/29 for more clues.

Got it working with:
`apt-get purge libstd-rust-1.37 libstd-rust-dev rust-gdb rustc cargo`
`cd ~`
`curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh`
`~/.cargo/bin/cargo install what`
`~/.cargo/bin/what`

[2019-12-30 13:49] Maaxion commented on #31
Mojave 10.14.6, doesn't run without sudo. With sudo, it starts but does not display any data.

[2019-12-30 14:08] lnicola commented on #35
It's not a dependency issue, but most Linux distributions package older versions of the compiler. You can install a newer one by getting rustup from your distro (Arch Linux has it) or from rustup.rs.

[2019-12-30 14:17] vzaliva commented on #35
Same problem. Tried `rustup` solution suggested by @TheWoodsy but it still give me the same error.
[code]

[2019-12-30 14:18] lnicola commented on #35
You need to uninstall the distro package, or it will take priority by being earlier in PATH.

[2019-12-30 14:20] vzaliva commented on #35
I do not have distro package installed:
[code]

[2019-12-30 14:21] lnicola commented on #35
Try "rustup update", then.

[2019-12-30 14:21] TheWoodsy commented on #35
sounds like you need a `rustup update` as discussed in https://github.com/imsnif/what/issues/29

[2019-12-30 14:28] vzaliva commented on #35
that did it. Thanks!

[2019-12-30 14:38] TheKnarf opened #36 "Better name?"
`what` is already a standard bsd tool.

https://www.freebsd.org/cgi/man.cgi?query=what

Perhaps one could call this something different?

[2019-12-30 15:47] Krizzu commented on #36
Personally, I've set alias to `netcheck`, but I agree, this tool could use a better name.

[2019-12-30 16:19] xenio commented on #31
Same empty screen for me on High Sierra. Using sudo or not same empty screen. I am on hackintosh so no SIP for me at all. Listening for en0 does not improve. :(

[2019-12-30 16:30] Grishy commented on #33
I think I found why an error occurs without specifying an interface.
We get all the interfaces and loop around them. If some interface does not active, then we return an error. Therefore, even one non-working interface breaks everything.

https://github.com/imsnif/what/blob/c9b9025577d0e1f831c9ebb054a5ac00b7a89796/src/os/shared.rs#L94-L97
And...
https://github.com/imsnif/what/blob/b150bf3ef49d38b8

[2019-12-30 16:34] #33 closed

[2019-12-30 16:34] Grishy commented on #31
I think I found why an error occurs without specifying an interface.
We get all the interfaces and loop around them. If some interface does not active, then we return an error. Therefore, even one non-working interface breaks everything.

https://github.com/imsnif/what/blob/c9b9025577d0e1f831c9ebb054a5ac00b7a89796/src/os/shared.rs#L94-L97
And...
https://github.com/imsnif/what/blob/b150bf3ef49d38b8

[2019-12-30 17:06] jbpratt78 commented on #9
@olorton awesome, this should work. I looked at a few other large tools and many of them were simply testing with the `--help` flag but I doubt they will let anymore into the repo. Ready to make the PR, but holding on #36 in case @imsnif wants to make a change.

[2019-12-30 17:24] squatto opened #37 "Display the monitored interface and (if available) name [enhancement]"
It would be helpful if the UI showed the interface that's being monitored, and if possible, the name. This is especially useful when monitoring multiple interfaces at the same time.

e.g. on macOS I have these:

[code]

Maybe add it before the "Total Rate Up/Down" on the first line?

![image](https://user-images.githubusercontent.com/748444/71592567-fb4d8a00-2aed-11ea-9fca-21c97ec1f126.png)

I wou

[2019-12-30 17:29] imsnif commented on #36
Uff - I really like the name "what", but I agree that (as pointed elsewhere) it would make searching for it quite difficult.

If anyone has any suggestions, I'd be happy to hear them!

Will probably get to this in the next few hours.

[2019-12-30 17:34] titus-anromedonn opened #38 "error: display_handler panic on launch"
Immediately after launching, the following error shows up.

[code]

[2019-12-30 17:38] imsnif commented on #34
Hmm - very odd. This is not supposed to happen, ofc! For me the same test works (and I see traffic). Am I guessing right and you're using macos?

On MacOS, we use `lsof` to find out system process information, and this might not be working because of SIP. @hobofan has provided a link to disable SIP, would you be willing to try and see if this solves the problem for you? https://github.com/imsnif/w

[2019-12-30 17:41] imsnif commented on #31
@Grishy - this looks like the issue and you describe it perfectly. :) Would you be interested in working on a PR to fix it? I'd be happy to provide guidance.

The no-traffic issue could, as @hobofan mentioned, be related to not being able to run `lsof` properly (which is how we get process information on MacOS). We can discuss that issue further here: https://github.com/imsnif/what/issues/34 - wou

[2019-12-30 17:44] imsnif commented on #9
@jbpratt78 - I am very happy about this!!
The name will likely change, as mentioned in the linked issue - how much of a mess would this be for you? :)

As for tests: the tool has its own tests (which you can run with `cargo test`) but they do not test the CLI (in fact, they stub out all OS input/output). I'm guessing the test you ended up adding is better, right?

[2019-12-30 17:47] imsnif commented on #35
Thanks everyone for providing support!
@rotten - did the `rustup update` solution do the trick for you?

I'm going to open a separate issue of packaging this as a deb and perhaps adding it to some ubuntu-friendly repository.

[2019-12-30 17:48] Grishy commented on #31
@imsnif That would be great!
But I'm afraid you will be a little disappointed 😅
I have not done PR yet and have not programmed in Rust (just debug your code 3 min).
But I will try. I have little experience with the network (from Golang)

[2019-12-30 17:49] imsnif opened #39 "Package and distribute for Ubuntu"
I'd be very interested if someone would be willing to take this up. The current path of building through `cargo` is not a very friendly one.

[2019-12-30 17:50] OkanEsen commented on #36
There are some suggestions on reddit ([What: A terminal tool to check what is taking up your bandwidth](https://old.reddit.com/r/rust/comments/ehl68y/what_a_terminal_tool_to_check_what_is_taking_up/fck96qz/)):

[2019-12-30 17:51] naphthalene commented on #36
+1 for `bandwhich`

[2019-12-30 17:53] imsnif commented on #37
I like the idea! We already show the interface name in the UI for each connection string, so we could definitely show either a specific interface near the "Total Rate" above (if using the -i flag), or "All Interfaces" (or some such) if not using -i.

[2019-12-30 17:56] sbmthakur opened #40 "Failed to listen on network interface: Address family not supported by protocol (os error 97) on Ubuntu (WSL)"
Platform details:

OS: Ubuntu 18.04.1 LTS (Windows Subsystem Linux)
Rust version: 1.40.0

Steps to reproduce:

1. Run `cargo build`.
2. After the compilation is done, run `cargo run`.

[2019-12-30 17:58] imsnif commented on #38
Oh my! @titus-anromedonn - are you using mac/linux? Which version? Does this always happen? How are you running it?

[2019-12-30 17:58] Grishy commented on #38
Could you describe what your operating system is and what version?

[2019-12-30 18:00] imsnif commented on #40
Does this also happen when running as root?

[2019-12-30 18:00] Grishy commented on #40
Looks like https://github.com/imsnif/what/issues/31

[2019-12-30 18:00] jbpratt78 commented on #9
@imsnif should be pretty simple to swap the name around, I can roll back my current commit. Just ping me whenever you are ready.

The test is just to ensure that the software is installed and executable, most people just simply do a `help` or `version` call. Even some of the large products like docker-compose. @olorton 's solution did the job and I can work with the PR reviewer if this is not suff

[2019-12-30 18:05] imsnif commented on #36
`bandwhich` is awesome :D

[2019-12-30 18:06] titus-anromedonn commented on #38
Happens every time I launch. At first I thought it was because I was running inside of tmux, but it crashes inside normal terminal windows as well.

I installed via cargo. Cargo and rust were installed via rustup.

# run
[code]

# sys info
[code]

[2019-12-30 18:07] rotten commented on #35
I haven't tried installing rustup yet (work day kicked in).  It doesn't appear to be part of any supported Ubuntu package, and I was hesitant to add a package managed by "curl", without studying it further.  I will try tonight.  (US/Eastern time zone)

[2019-12-30 18:09] jbpratt78 commented on #39
Here are some resources that may help whoever takes a stab at this:

- https://snapcraft.io/docs/rust-applications
- https://github.com/mmstick/cargo-deb

If no one picks this up in a few days, I can get around to it :+1:

[2019-12-30 18:15] rotten commented on #35
Actually, there is a 'snap' managed one.  I'll consider that this evening, since having two package management systems at the same time seems to be par for the course for Ubuntu these days.

[2019-12-30 18:16] imsnif commented on #31
@Grishy - I promise not to be disappointed, and since there is a workaround for this issue (using the -i flag), there is no urgency. Take as much time as you need, and ping me here or privately through email for any help whatsoever.

[2019-12-30 18:17] bvergnaud commented on #14
I'm afraid I won't be much help with the implementation as I've no rust knowledge at all.
However seeing this issue (which I agree with wholeheartedly), I think you ought to have some weighting mechanism in order for the more recent values to have more impact on the averaged out value. Otherwise, if you have an application that goes through drastic changes in bandwidth usage, that averaged value w

[2019-12-30 18:19] colindean commented on #36
bandwhich is great!

[2019-12-30 18:22] imsnif commented on #30
I'm afraid there's not much we can do about this. :/ What I do on my box is place `~/.cargo/bin/what` in my root user's PATH.

@LoyVanBeek - do you have any suggestion on a good README explanation for this? If you'd be interested in opening a PR we can discuss it there (if not and no-one else wants to, I can try and word something).

[2019-12-30 18:28] imsnif commented on #35
Another solution could be to download a binary directly from the `releases` page of this repo. The musl one should work. Would this be okay for you?

[2019-12-30 18:29] ebroto commented on #38
Thanks for the report @titus-anromedonn! Could you run it like this:
[code]
This will give more information about where the error happens.

[2019-12-30 18:30] imsnif commented on #36
@ebroto - what do you think of `bandwhich`?

[2019-12-30 18:32] ebroto commented on #30
Another option is to run it like this
[code]
This could be added to the `README`

[2019-12-30 18:33] ebroto commented on #36
TBH I loved the pun of `what`, but `bandwhich` is even better :)

[2019-12-30 18:50] titus-anromedonn commented on #38
@ebroto

[code]

[2019-12-30 18:55] ebroto commented on #31
@Grishy, just some hint in case it helps :)

Something that would work would be to make `get_datalink_channel` return
[code]
(note the `Box` being wrapped in `Option`) and then in the first snippet you linked you can filter the `None`s. Take a look into `filter_map` and `flatten`.

[2019-12-30 19:18] ebroto commented on #38
Thanks!

The backtrace seems to point somewhere else :thinking: , but looking at the relevant thread, we are doing this:
https://github.com/imsnif/what/blob/c9b9025577d0e1f831c9ebb054a5ac00b7a89796/src/main.rs#L161

I think we would get this panic if `render_duration` is greater than one second.

https://github.com/rust-lang/rust/blob/9d6f87184e5116cf4a96f6686eb67994f19908a5/src/libcore/time.rs#L7

[2019-12-30 19:21] LoyVanBeek commented on #30
I wasn't sure what was the best option, so that's why I didn't create a PR but created an issue. PR https://github.com/LoyVanBeek/what/pull/1 has _all_ options listed :smile:

[2019-12-30 19:22] titus-anromedonn commented on #38
@ebroto Just fyi, I have several hundred, if not thousand network connections open at any given time.

So I would not be surprised to find the render time exceeding some threshold you guys have set internally.

[2019-12-30 19:23] squatto commented on #37
@imsnif Excellent! I installed a Rust IDE and I'll see if this is something that I can tackle when I have a chance. Do you have a good Rest resource or two you can recommend?

[2019-12-30 19:30] imsnif commented on #38
Wow! Okay.
@ebroto: what fix did you have in mind?
@titus-anromedonn: does this also happen when you use the `--raw` flag? If so, does it also happen when you pipe the output with `--raw` to a file? eg `sudo what --raw > /tmp/log`?

I'm asking because right not the display loop is a little hacky: it is invoked every 1 second and then displays whatever happened in that second. If it takes it more t

[2019-12-30 19:30] ebroto commented on #38
Wow :) That would probably be more than what the tool has been exposed to before. There are some performance improvements pending, but I think that for now to fix this panic we could just avoid parking the thread.

[2019-12-30 19:33] imsnif commented on #38
Sorry @ebroto - my curiosity got the better of me. :) Let me know if you need anything from me.

[2019-12-30 19:41] ebroto commented on #38
Hey @imsnif sorry I was answering to the previous message by titus-anromedonn, forgot the mention and we commented at the same time :)

[2019-12-30 19:45] titus-anromedonn commented on #38
@ebroto @imsnif

I tried piping the output and without. Both seem to still cause the panic.
[code]

I suspect it is my pool off mass connections that is causing the issue. Unfortunately, I cannot shut down my internet connections at this time to test and verify, but I will try to replicate this issue in a VM a bit later.

[2019-12-30 19:54] imsnif commented on #30
@LoyVanBeek - I'm happy having all options in the README for now. The location you put it definitely makes sense, but it kind of clashes with this phrase: "If you're on linux, you could also get the generic binary from the releases."

Maybe we can add a "Download a prebuilt binary" sub-section to install, move the above phrase there and then the instructions you added would make sense where they a

[2019-12-30 19:57] LoyVanBeek commented on #30
PR is opened: https://github.com/LoyVanBeek/what/pull/1, let's discuss there

[2019-12-30 20:01] imsnif commented on #37
I really liked [The Book](https://doc.rust-lang.org/stable/book/). Beware though, it can be a little overwhelming at times. :)

This part of the project is (mostly) well covered in tests, so `cargo test` can help you out - and the rust compiler is pretty amazing with its detailed error messages. So if you want to just dive in and hack a little after you get the basic syntax (and likely a primer on

[2019-12-30 20:04] mahiki commented on #36
`whab` might be a good choice, if 'what' is a preferred name. Stands for:

[Wha]t...is taking up my [B]andwidth?!

[2019-12-30 20:05] jedahan commented on #36
`whence` seemed cool too (even if it conflicts with the zsh builtin whence)

[2019-12-30 20:17] imsnif commented on #38
This was accidentally closed when I merged @ebroto's PR - so reopening it until we can confirm the fix. I'm not 100% certain this will work (because if rendering takes 30s...)

[2019-12-30 20:27] SuperSandro2000 commented on #34
I am using Debian bullseye on a Thinkpad.

[2019-12-30 20:29] Grishy commented on #31
I have now set up the development environment and was able to start the project normally in debug mode 🎉
At the moment I do not understand what the word `dyn` is responsible for...
Do I understand correctly that we need an additional `Option` because we need to return something with error. We cannot return something like:
[code]
because we do not have in Rust null pointers.

[2019-12-30 20:32] ebroto commented on #34
@SuperSandro2000 could you test without the `-i` flag? Does some traffic appear? Maybe for some reason the interface shown is different?

I have the exact same configuration as you (well, not sure if the Thinkpad variant is the same :) ) and I can see traffic coming from `speed.hetzner.de`.

[2019-12-30 20:33] ritchiea commented on #31
I'm having the same issue on Mojave 10.14.6.

Neither `sudo what` nor `sudo what -i en0` show any network activity.

[2019-12-30 20:38] Grishy commented on #31
@rtulip You have no error as in the issue header when starting without specifying an interface?

[2019-12-30 20:41] HoroTW commented on #36
bandwhich is easy to remember and describes it well (and I like it xD)
but I wan't to point out that there is allready a tool called bandwhich (https://github.com/matthu24/bandwhich)

[2019-12-30 21:00] ebroto commented on #31
@Grishy `dyn` is a way to make explicit that `DataLinkReceiver` is a trait object. This would be similar to an interface in golang. As you say the compiler understands `Ok(rx)` as the `Ok` variant of the `Result`, and `rx` is the aforementioned trait object; because the size of the trait object is not known (it could be any type implementing `DataLinkReceiver`) we need a way to refer to it indirec

[2019-12-30 21:00] SuperSandro2000 commented on #34
Without the interface nothing changes.

I think I was unclear I see some traffic from firefox, ssh and some other noise but not wget, udp packets from mosh or traffic from docker containers.

I also had wifi and cable connected. I disconnected the wifi and still the same problem.

I also tried building it with cargo in a docker container and this binary does not behave differently.

I also tested

[2019-12-30 21:10] ebroto commented on #30
@LoyVanBeek you should open the PR against this repo, so the target of the merge should be [imsnif:master](https://github.com/imsnif/what)

[2019-12-30 21:31] LoyVanBeek commented on #30
When did I forget how github works?

[2019-12-30 21:34] Grishy commented on #31
@ebroto I got to the point where the code after my changes at least compiles 🎉 x2
[code]
It’s bad that we drown out the errors, although it is not clear what to do with them (output to the console?)
Maybe use `partition()` and display?
With `Option`, we also lose errors.

[2019-12-30 21:37] rileytg opened #44 "failed to build on macos 10.12"
[code]

[2019-12-30 21:38] rileytg commented on #44
full output:
[code]

[2019-12-30 21:44] ebroto commented on #44
What is the output of
[code]
I suspect you are using an old version of rust, `futures_api` was stabilized in 1.36.0.

We should put the minimal compatible version in the README, will fix it.

[2019-12-30 21:49] ebroto commented on #31
Cool!

IMO it's OK in this case to ignore the errors as it means that the interfaces are not usable for us.
We should error out though in case there are no available interfaces.

[2019-12-30 21:55] Grishy commented on #31
@ebroto ok, add check on len == 0 and create PR?
I just started looking for how to get connections in macOS.

[2019-12-30 21:59] ebroto commented on #31
Sure, open the PR and we can discuss it there :)

[2019-12-30 22:08] imsnif commented on #36
Name changed to "bandwhich" - yay!

[2019-12-30 22:08] #36 closed

[2019-12-30 22:18] imsnif commented on #9
Hey @jbpratt78 - the name has changed. Feel free to go ahead.

[2019-12-30 22:22] ebroto commented on #38
@titus-anromedonn could you test with the latest release? The fix related to the `render_duration` has been applied :)

[2019-12-30 22:37] michaelterryio opened #45 "Mac (Mojave): Error: Failed to listen on network interface: No such file or directory"
Full message:

[code]

This is a MacBook Pro 13-inch, early 2015 running Mojave (10.14).

[2019-12-30 22:44] ebroto commented on #45
Probably related to #31, a failure to listen on one interface will prevent the program from running even if there are other working interfaces.

@Grishy is working on a fix, in the meantime, does it work for you using the `-i` flag and pointing to a working interface?

[2019-12-30 23:06] titus-anromedonn commented on #38
@ebroto I noticed that you guys created a release but did not push to `creates.io` Any plans on doing that or should I just test off of the github release packed source?

[2019-12-30 23:08] ebroto commented on #38
Oh right, I forgot to mention that the name has been changed to [bandwhich](https://crates.io/crates/bandwhich) :)

[2019-12-30 23:10] jbpratt78 commented on #9
@imsnif I am going to delay the pull request until some of the issues are fixed around MacOS. I can't start running it until I point it towards the correct interface, which will be different for others. Once @Grishy has a fix I can push latest release. It wouldn't make it very far into the pull request in Hombrew-Core anyway.

[2019-12-30 23:10] titus-anromedonn commented on #38
@ebroto Ahh awesome! Can confirm that it works now!

Thanks for the quick response guys!

[2019-12-30 23:12] ebroto commented on #38
Cool! Thank you for reporting the issue :)

[2019-12-30 23:12] #38 closed

[2019-12-30 23:24] jbpratt opened #46 "Feature: Integrate with Trust to supply prebuilt binaries"
Using Trust or Github Actions to do some of the 'chores' would be nice and help streamline the process. It seems they are discussing a Github Actions port which would make integration even simpler.

Doing this or something hacky like [this](https://medium.com/@jondot/shipping-rust-binaries-with-goreleaser-d5aa42a46be0) with GoReleaser can automate all of the Homebrew/Snapcraft/Docker stuff.

[2019-12-30 23:31] imsnif commented on #38
@titus-anromedonn - I would be *very* interested in hearing more about your experiences running `bandwhich` under that kind of load. If you feel like sharing here or privately: aram@poor.dev

Thanks!

[2019-12-31 00:59] michaelterryio commented on #45
I have 8 interfaces listed by `ifconfig` and I got the same error for each of them.

[2019-12-31 02:05] HugoLiconV opened #47 "Ubuntu 18.04.3: Error: Failed to listen on network interface: Operation not permitted (os error 1)"
when I run `bandwhich -i wlo1` I get this error:
`Error: Failed to listen on network interface: Operation not permitted (os error 1)`
and if I add sudo I get this one:
`sudo: bandwhich: command not found`

Am I doing something wrong?

[2019-12-31 02:10] zomars commented on #45
@michaelterryio run with sudo

[2019-12-31 02:19] sbmthakur commented on #40
@imsnif Yes. And I ran the shell as an administrator in all cases.

[2019-12-31 03:25] tuledev commented on #45
I got the same error without sudo.
And with sudo, it doesn't show any data.

Thanks. Look like a great repo.

[2019-12-31 05:59] markkhusid opened #48 "Add switch for persistence"
The information displayed disappears too quickly.  Can you please add a switch to add some persistence?  For example:

For a 2 second delay before the information disappears, etc.

Thank you.

[2019-12-31 07:57] imsnif commented on #48
Hey @markkhusid - thanks for your input. I definitely agree this is called for and we have an issue open for it: https://github.com/imsnif/bandwhich/issues/14

It's a different implementation, but should provide the functionality you want.

[2019-12-31 07:57] #48 closed

[2019-12-31 07:59] imsnif commented on #47
This probably means that the command is not installed root's PATH. Can you try something like `sudo $(which bandwhich) -i wlol`?

[2019-12-31 08:04] imsnif commented on #46
This would save so much grief - right now I've been doing it manually and hating myself every time for not putting in the time to automate this. :) As you mention, this problem will only grow as we support more platforms.

Ideally, I'd like some sort of "gated checkin". I'd want a build to be pass, tested, the binaries to be built and then for a Human to press "OK" (or something) to make a version

[2019-12-31 08:19] cxyfreedom commented on #44
`rustup update` your rust version, the problem will fix it

[2019-12-31 08:27] Grishy commented on #31
open https://github.com/imsnif/bandwhich/pull/49

[2019-12-31 08:29] imsnif commented on #40
@sbmthakur - it might be #31 as @Grishy mentions. This means that one of the network cards in the subsystem is virtual (or "problematic" in a different way) and what is trying to pick it up and fail (@Grishy is working on a fix for this so such a situation won't fail the entire run and would just ignore that card). If you use the -i flag with one of the interfaces, does it work for you?

Another s

[2019-12-31 08:31] johngrib commented on #45
I got the same error with `sudo`.
![image](https://user-images.githubusercontent.com/1855714/71615183-456c6380-2bf3-11ea-95da-43d5e3f116e4.png)

[2019-12-31 08:33] imsnif commented on #34
This is really peculiar. I hope you'd be willing to help with a little debugging to find the source of the issue? I'd mainly like to find the difference between the traffic that is working and that traffic that is not being displayed.

If, for example, you use firefox to download the same large file - is the traffic displayed?

[2019-12-31 08:47] imsnif commented on #45
@michaelterryio - are you on wifi? maybe the interface you're looking for is in `iwconfig`? Thankyou for your patience, we're smoothing out the edges of the multi-platform part :)

@tuledev - have you tried (or would you be willing to try) this? I think it might help in your case: https://apple.stackexchange.com/questions/208478/how-do-i-disable-system-integrity-protection-sip-aka-rootless-on-maco

[2019-12-31 08:49] filalex77 commented on #30
Giving elevated network permissions with `setcap` also works:

[code]

[2019-12-31 08:50] noname2001 opened #50 "error: Utf8Error"
[os] mac os x catalina 10.15.1
[terminal] iTerm2
[shell] zsh
[bandwhich version] 0.6.0

when I run
$sudo bandwhich -i en0
get this error

error: Utf8Error { valid_up_to: 94056, error_len: Some(2) } }', src/libcore/result.rs:1165:5
note: run with `RUST_BACKTRACE=1` environment variable to display a backtrace.

[2019-12-31 09:00] imsnif commented on #50
Ouch! Thanks for the report.

Looks like you're inside tmux (or something similar?) - does it happen outside as well?
Does it happen when you use the --raw flag?

[2019-12-31 09:04] LoyVanBeek commented on #30
Is it possible to do this as part of the build process?

[2019-12-31 09:05] noname2001 commented on #50
yes I use tmux
1. I tried it outside tmux, it still happened.
2. I tried "sudo bandwhich -i en0 --raw" , the output is the same

[2019-12-31 09:06] noname2001 commented on #50
sorry I forget to say the version bandwhich 0.6.0

[2019-12-31 09:09] filalex77 commented on #30
@LoyVanBeek Possibly - this depends on `libcap`, and requires either `root` privileges (easier) or having the `CAP_SETPCAP` capability on the calling process (much harder). So, if calling `sudo` as part of the build is fine, we can do this instead.

[2019-12-31 09:26] jbpratt78 commented on #50
Hmm, interested as to why this is happening, I wonder if anyone in the other thread (#31) has had this.

[2019-12-31 10:08] diversys opened #51 "No traffic shown on some macs"
This is 9d93d34d5ab365ec1c07d6ec197cb12c4b8105f3 on macOS 10.14.6
bandwhich starts but shows no traffic.
`sudo /Users/diver/.cargo/bin/bandwhich`

<img width="882" alt="Screenshot 2019-12-31 at 13 07 14" src="https://user-images.githubusercontent.com/1316513/71617947-81410200-2bce-11ea-90fe-e24f08a21341.png">

`sudo /Users/diver/.cargo/bin/bandwhich -i en0` shows the same.

List of interfaces:
[co

[2019-12-31 10:32] mpereira commented on #51
I get the same.

macOS: 10.14.5
rustc: 1.40.0 (73528e339 2019-12-16)
bandwhich: 0.6.0

[2019-12-31 11:33] SuperSandro2000 commented on #34
Sure but I probably can't contribute a PR. :)

Nope, there is only some background noise from other sites I have opened, the download is not shown and not counted in. I tried it with and without and interface over wifi. I opened nethogs alongside after a while and it is showing a constant downstream.

[2019-12-31 12:35] rotten commented on #35
So, I removed the apt version of rust and then installed the snap version of rustup
[code]
Unfortunately the rustup install didn't work.  There is something broken in the snap rustup package.

When I get rust first by doing this:
[code]
Then the install works.
[code]

However, that installs both rust and `what` in my user path, but since it requires root to run, I needed to do both the curl and th

[2019-12-31 13:26] berry commented on #51
Also get the same.

MacOS: 10.14.6
Rustc: rustc 1.40.0 (73528e339 2019-12-16)
bandwhich: 0.6.0

Additional info. Using Macbook with wifi. Sudo does not help. Tried en0 and awdl0 and both did not work.

[2019-12-31 13:38] pdbradley commented on #51
Same here.  great tool and eager to use it.  thanks.
Macbook Pro 10.15.2
bandwhich 0.6.0

[2019-12-31 13:57] SicariusNoctis commented on #36
For the record, let it be stated that that `bandwhich` has no stars and the last commit was 2 years ago.

[2019-12-31 14:16] sbmthakur commented on #40
@imsnif Thanks for pointing out. I am getting the same error even with the -i flag. There is some reading available about network interfaces in WSL [here](https://blogs.msdn.microsoft.com/wsl/2016/11/08/225/) which might be helpful.

[2019-12-31 14:49] lnicola commented on #35
You can do `cargo install` under your user, then `sudo mv ~/.cargo/bin/what /usr/local/bin`.

[2019-12-31 15:07] HugoLiconV commented on #47
Cool, it worked

[2019-12-31 15:07] #47 closed

[2019-12-31 15:13] andrewrech commented on #45
Thanks for this great repo! I'm hardwired with SIP disabled, and I get:

[code]

Running under `sudo` does not error, but shows no activity under interface, similar to @tuledev. Works perfectly on my Linux box.

[code]

@imsnif

[2019-12-31 16:03] munntjlx commented on #51
Same here. Happy New Years??🙀

[2019-12-31 16:20] Dapacruz commented on #51
I having the same issue.

[2019-12-31 16:33] adraffy commented on #51
Same, 10.15.2

[2019-12-31 17:26] imsnif commented on #14
I like some of the ideas here, and I feel whoever wants to tackle this issue will have quite a fun time optimizing stuff to make this *feel* good. I'm personally looking forward to playing around with what comes up. :)

[2019-12-31 17:35] imsnif commented on #34
Alright, so right now we know that you do not see traffic when downloading https://speed.hetzner.de/10GB.bin from *any* application (curl, wget or firefox). (right?)

We also know that you do see some other traffic... are there other sorts of traffic you know you don't see? If you (for example) download https://cdimage.debian.org/debian-cd/current/amd64/iso-cd/debian-10.2.0-amd64-netinst.iso - do

[2019-12-31 17:38] imsnif commented on #35
I'm happy the original problem was solved, and can only apologize profusely for some of the difficulties in building this tool.

Efforts are being done in that direction right now, and we even have an issue open for packaging for ubuntu to make this an easier process (https://github.com/imsnif/bandwhich/issues/39 - if anyone's interested in lending a hand)

[2019-12-31 17:38] #35 closed

[2019-12-31 17:43] michaelterryio commented on #45
`sudo` worked. No `iwconfig`: The wireless lan interface should be listed by `ipconfig` on Mac and is apparently `en1` by default, and `sudo what -i en1` worked for me.

Thanks.

[2019-12-31 17:46] michaelterryio commented on #45
I mean, works in the sense I don't get that error. I'm loading web pages and all I see is the attached.

![image](https://user-images.githubusercontent.com/57774951/71629448-65c7fe00-2bb2-11ea-94be-8b353da2785d.png)

[2019-12-31 17:50] imsnif commented on #40
Interesting. I'm going to take a look at this and would generally be interested in investigating further.

What seems to be happening is that we're failing to read the frames coming from any of your network interfaces. For this we're using the `pnet` crate, which is cross platform - but it might have some kinks or special requirements in regards to this specific setup.

Would it be okay for you to

[2019-12-31 17:58] imsnif commented on #50
@noname2001 - I'm trying to figure out where this error is coming from. Could you run: `RUST_BACKTRACE=full sudo bandwhich -i en0` and paste the output here?

[2019-12-31 18:01] capitalist commented on #51
Same, 10.13.6
rustc 1.40.0
bandwhich 0.6.0

[2019-12-31 18:05] imsnif commented on #51
The way I see it, this issue is likely caused by either:
1. Not getting any traffic on the network interface
2. Having an issue getting the output of `lsof` which is what we use on Mac to get process information

I somehow suspect it's the second... but I'm not certain.

For those experiencing this issue, while the tool is running, if in another terminal you run `lsof -n -P -i4`, do you get output

[2019-12-31 18:07] imsnif commented on #45
There's another issue about the "no traffic displayed" issue, so seeing as this is the "only" problem left, I'd like us to move the discussion there: https://github.com/imsnif/bandwhich/issues/51

[2019-12-31 18:07] #45 closed

[2019-12-31 18:12] diversys commented on #51
`

[2019-12-31 18:49] briantully commented on #51
Same issue here. Without `sudo` prefix I get the following error:

`bandwhich -i en0`

```Error: Failed to listen on network interface: No such file or directory (os error 2)```

With sudo prefix `sudo bandwhich -i en0` I get the bandwhich interface, but no traffic is captured/displayed.

While bandwhich is running, in another terminal tab I get many results when running `lsof -n -P -i4`, so it do

[2019-12-31 18:54] briantully commented on #51
Output of `lsof -n -P -i4` is instantaneous. However I noticed in the output the first line is a WARNING before it presents the results in a table.

Is it possible that bandwhich is parsing the output of `lsof` and expecting certain headers (e.g. COMMAND) and quietly failing when it sees the following warning as the first line in the `lsof` output?

```lsof -n -P -i4```

[code]

[2019-12-31 19:07] Grishy commented on #51
No.

[2019-12-31 19:11] SuperSandro2000 commented on #34
yes with bandwith. Other tools do work.

nope. I also tested git clone both with ssh and https and this worked.

nope, not with wget or firefox

still not.

I also tried running it from a root shell, removing /dev/null and starting the tool before I started the download. Nothing helped.

[2019-12-31 19:29] Grishy commented on #51
@imsnif Why not use syscall?
I had to develop a program that worked with the system (plugin for storage system).
As a result, I had to abandon the call of programs and do more than half by syscall ...

[2019-12-31 19:38] Grishy commented on #51
@briantully you can add `-w` to lsof for disable warnings

[2019-12-31 19:41] munntjlx commented on #51
I don’t see any warnings on my side. Using Mojave 10.14.6 with currentest bandwhich.

Sincerely,

Thomas J. Munn
Consulting Security Engineer
LexisNexis

On 12/31/19, 14:38, "Sergey" <notifications@github.com<mailto:notifications@github.com>> wrote:

*** External email: use caution ***

@briantully<https://github.com/briantully> you can add -w to lsof for disable warnings

—
You are receiving this

[2019-12-31 19:55] Grishy commented on #51
I looked at how it looks on syscalls. Not very nice and maintained...

[2019-12-31 20:06] Grishy commented on #51
Work fine.
![image](https://user-images.githubusercontent.com/13949080/71632922-2b964500-2c22-11ea-9259-8a7ed7e7686a.png)

[2019-12-31 20:25] Grishy commented on #51
Before update state we have empty `utilization`
![image](https://user-images.githubusercontent.com/13949080/71633326-96e11680-2c24-11ea-982c-f7594cb7c7cf.png)
![image](https://user-images.githubusercontent.com/13949080/71633336-ab251380-2c24-11ea-9e94-18fba82f010d.png)
![image](https://user-images.githubusercontent.com/13949080/71633356-ca23a580-2c24-11ea-86c0-d2466e26b94b.png)

[2019-12-31 20:33] coreylane opened #53 "Support IPv6"
Great tool! Noticed ipv6 traffic is not being reported by the tool

Using the compiled binary release 0.6.0

[code]

Test/reproduce issue
`wget -6 http://releases.ubuntu.com/18.04.3/ubuntu-18.04.3-desktop-amd64.iso`
`wget -4 http://releases.ubuntu.com/18.04.3/ubuntu-18.04.3-desktop-amd64.iso`

[2019-12-31 20:35] Grishy commented on #51
I managed to show at least something

![image](https://user-images.githubusercontent.com/13949080/71633584-263af980-2c26-11ea-920c-1a521c2b6891.png)

[2019-12-31 20:41] coreylane commented on #34
I believed this is due to ipv6 #53

`bandwhich` works properly when I try `wget -4 https://speed.hetzner.de/10GB.bin -O /dev/null`

[2019-12-31 20:42] Grishy commented on #51
Could you explain the logic?https://github.com/imsnif/bandwhich/blob/9d93d34d5ab365ec1c07d6ec197cb12c4b8105f3/src/main.rs#L197-L226

[2019-12-31 20:47] Grishy commented on #53
https://github.com/imsnif/bandwhich/blob/9d93d34d5ab365ec1c07d6ec197cb12c4b8105f3/src/os/lsof_utils.rs#L65

it says that use ip4 only `-i4` for macOS

[2019-12-31 20:53] coreylane commented on #53
https://github.com/imsnif/bandwhich/blob/9d93d34d5ab365ec1c07d6ec197cb12c4b8105f3/src/network/sniffer.rs#L6

May be related to #34

[2019-12-31 22:04] SuperSandro2000 commented on #34
@coreylane :+1: this is the problem. Forcing ipv4 works for me!

[2019-12-31 22:05] #34 closed

[2019-12-31 22:06] SuperSandro2000 commented on #53
I can confirm that #34 is related.

[2020-01-01 05:36] sbmthakur commented on #40
@imsnif Sure. I am always happy to help.

[2020-01-01 08:26] maxdobeck opened #54 "Show the traffic history (bytes), do not clear UI"
I'd like to start bandwhich in a special mode that keeps past connections in the UI and lists the bytes up/down by Remote address and Process name.  Something closer to the wireshark UI or this [iftop cli](https://www.tecmint.com/iftop-linux-network-bandwidth-monitoring-tool/)  but for bytes transferred.

I want to see everything scroll past and get bumped out of the UI panel(s) as it reaches the

[2020-01-01 08:53] imsnif commented on #51
Hey, @Grishy - great work! Looks like you're on to something.

The `utilization` struct is where we record the network traffic information for our connections after sniffing the packets from the network card. If it's empty, it likely means we have a problem either sniffing them or recording them in this case.

The above code is where we iterate over segment size information from the network card a

[2020-01-01 08:56] imsnif commented on #53
So, I'm afraid this tool is very much ipv4 centered at the moment on all platforms. It shouldn't be a problem to get it to also work with ipv6, but it will require some work.

Off the top of my head:
* We should also sniff for ipv6 packets
* We should adjust our parsing of ipv6 packets to properly get the packet length from them
* We should adjust the UI to also support stringifying ipv6 addresses

[2020-01-01 12:09] noname2001 commented on #50
hi imsnif, I don't know what happened,  the error disappear and when I run "RUST_BACKTRACE=full sudo bandwhich -i en0" , I get the right frontend but no data
![image](https://user-images.githubusercontent.com/9458206/71641200-94d59100-2cd2-11ea-8dca-d30684dca19e.png)

[2020-01-01 14:46] Zeal-Zhu commented on #44
I got the same errors, but `rustup update` works on me.

[2020-01-01 16:11] chobeat commented on #4
Hello, I'm a very beginner in Rust but I think I can help a bit with this issue. The goal is quite clear and I can see the repetition you're talking about. I will open a PR where I refactor maybe a single thing into a util file and you tell me if it's idiomatic enough and then I can do some more. I see there are no fixtures in rust standard test suite. Are there better options that you would like

[2020-01-01 16:44] zhangxp1998 commented on #51
I added some print statements like this:
[code]
After running the program, "Got packet!" is never printed. Which means the pnet datalink receiver did not receive any packet.

[2020-01-01 16:51] imsnif commented on #51
@zhangxp1998 - do you think "Got packet!" will also not be printed if you put it directly after `bytes`?

[2020-01-01 16:52] zhangxp1998 commented on #51
Tried, wasn't printed.

[2020-01-01 16:54] zhangxp1998 commented on #51
Maybe it has something to do with Mac's [SIP](https://support.apple.com/en-us/HT204899) ? I cannot restart my Mac at this moment, but if someone can run the bandwich program with SIP disabled that would be great.

[2020-01-01 17:03] imsnif commented on #51
@zhangxp1998 - I more than suspect SIP is at least partly the issue here and would love it if someone could try.

Otherwise, this is just a guess: can you try commenting out this line and seeing if it helps? https://github.com/imsnif/bandwhich/blob/master/src/os/shared.rs#L37 (fair warning, you might have to `kill -9` the process afterwards).

If it doesn't (and disabling SIP doesn't solve this),

[2020-01-01 17:39] zhangxp1998 commented on #51
Magically, removing the read timeout in shared.rs solved this issue. I suspect this is PNET's implementation quirk?

[2020-01-01 18:54] ebroto commented on #44
Hey @rileytg, can you confirm if updating rust worked for you so we can close this issue?

Thanks!

[2020-01-01 19:04] ebroto commented on #50
@noname2001 the absence of traffic seems to be related to #51 especially since you are on MacOS X.

About the previous error, not sure if @imsnif wants to keep digging but I would suggest to close the issue and reopen it with a backtrace if it pops up again.

[2020-01-01 19:12] zhangxp1998 commented on #51
Increasing the read timeout to something like 1 second also fixes this issue.
![Xnip2020-01-01_14-12-05](https://user-images.githubusercontent.com/5873227/71645082-b74eb680-2ca0-11ea-9d67-2664afde5e69.jpg)

[2020-01-01 21:03] pablojorge commented on #51
Can confirm this made it work for me as well

[2020-01-01 22:51] asselinpaul commented on #51
Just installed 0.6.0 with SIP disabled and no traffic was shown.

[2020-01-01 23:46] JavaScriptDude commented on #39
For those new to Rust, be sure to run `rustup update` before installing bandwhich. For example, Ubuntu 18.04 defaults to rust v1.35 and install of bandwhich fails. After running `rustup update`, rust was bumped up v1.4 and bandwhich install went ok.

Great package name BTW :)

[2020-01-02 02:20] virtualritz commented on #31
+1
On macOS 10.15.2:

[code]

[code]
Does run but doesn’t display any data.

[2020-01-02 03:10] noname2001 commented on #50
today, I come to office(and use office wifi), and I get the error again,  maybe depend on the wifi situation？

![image](https://user-images.githubusercontent.com/9458206/71650363-52529980-2d50-11ea-968e-8ec6bee9c045.png)

[2020-01-02 03:12] noname2001 commented on #50
thread 'display_handler' panicked at 'called `Result::unwrap()` on an `Err` value: FromUtf8Error { bytes:  @imsnif
![image](https://user-images.githubusercontent.com/9458206/71650419-b1181300-2d50-11ea-9c3a-313d388d2952.png)

[2020-01-02 06:41] imsnif commented on #51
@zhangxp1998 - thanks for the debugging help! I'm happy we found the issue :)

I'm not 100% sure what the problem is. This is some small hack we added to help the app exit cleanly. I'll whip up a new version in the next few days with some workaround that will hopefully solve this issue for good (might ask for help making sure it works beforehand :))

[2020-01-02 07:06] imsnif commented on #4
Hey @chobeat - sounds good :) I saw you made a PR, let's discuss there

[2020-01-02 07:12] imsnif commented on #50
@noname2001 - could you run like this and give us the stack trace? will make it easier to understand where this issue is coming from:

`RUST_BACKTRACE=full sudo bandwhich -i en0`

[2020-01-02 07:23] imsnif commented on #54
Hmm... how about adding a "total bytes" to the UI? (assuming it doesn't make it too cluttered)

[2020-01-02 07:33] #30 closed

[2020-01-02 08:46] qballer commented on #39
Hey guys, I've never did rust but would love to take this on.

[2020-01-02 08:57] imsnif opened #59 "Show more informative error when run with insufficient (non-root) privileges"
Right now, when `bandwhich` is run without root (or with insufficient privileges) we get this error:

`Error: Failed to listen on network interface: Operation not permitted (os error 1)`

Would be nice to have something like:
`Error: bandwhich was run with insufficient privileges - maybe try with sudo?`

[2020-01-02 09:12] lnicola commented on #39
You should probably start with `cargo-deb`. Its author works on an Ubuntu derivative, and I've heard good things about it before.

I'd go for `sudo mv ~/.cargo/bin/bandwhich /usr/local/bin/bandwhich` instead.

[2020-01-02 10:15] jtgd opened #60 "Feature request: add option for update rate"
Would be nice to have a command line switch to set update to every N seconds. I'd like maybe 3 or 5 seconds. It's too fast now.

[2020-01-02 12:31] noname2001 commented on #50
is this what you want?

![image](https://user-images.githubusercontent.com/9458206/71667160-d03d9180-2d9e-11ea-8745-2c61e4214e99.png)

![image](https://user-images.githubusercontent.com/9458206/71667142-bb60fe00-2d9e-11ea-9515-49c91210eff2.png)

[2020-01-02 12:46] michalpiasecki1 opened #61 "cargo install failed on MacOS"
install finish with error. is there anything I can do to fix it?

[code]

[2020-01-02 12:51] jbpratt78 commented on #50
@noname2001 can you try with `RUST_BACKTRACE` set to `full` rather than `1`? It may give us some more details for debugging. Thanks!

[2020-01-02 12:54] jbpratt78 commented on #61
Hi @michalpiasecki1, I believe this is related to #44. Can you try running `rustup update` then reinstalling?

[2020-01-02 13:08] imsnif commented on #50
Hmm... can you try with --raw? I think that way the stack trace wouldn't get mangled up so much.
Also, iirc I think it needs to be with env - something like this: `sudo env RUST_BACKTRACE=full bandwhich --raw`

[2020-01-02 14:06] michalpiasecki1 commented on #61
thanks, it helped, sorry for duplicating issue

[2020-01-02 14:06] #61 closed

[2020-01-02 15:05] Tobbeman commented on #59
I've never written Rust before, but like to take a crack at it

[2020-01-02 15:31] imsnif commented on #59
Awesome :) Let me know if you need any help or pointers.

[2020-01-02 16:10] plu9in opened #62 "Bandwhich does not compile on Ubuntu 18.04"
Bandwhich does not compile on Ubuntu 18.04. There is a problem in a library.

`$ git clone https://github.com/imsnif/bandwhich.git`
`$ cd bandwich`
`$ sudo cargo run`
` ...`
`   Compiling linked-hash-map v0.5.2`
`error: ``core::slice::<impl [T]>::len`` is not yet stable as a const fn`
`   --> $HOME/.cargo/registry/src/github.com-1ecc6299db9ec823/bytes-0.5.0/src/bytes.rs:121:18`
` |`
`121 |

[2020-01-02 17:03] chobeat commented on #62
what's your rust version?

[2020-01-02 17:09] imsnif commented on #60
I definitely agree :) My plan was to address this through https://github.com/imsnif/bandwhich/issues/14 - what do you think?

[2020-01-02 17:50] algent-al commented on #62
Same on solus too.

[code]
using rust, version: 1.38.0

[2020-01-02 17:59] plu9in commented on #62
I am using 1.40.0.
`rustc 1.40.0 (73528e339 2019-12-16)`

[2020-01-02 18:25] ebroto commented on #62
`[T]::len` was stabilized in 1.39.0 (2019-11-07), see [changelog](https://github.com/rust-lang/rust/blob/master/RELEASES.md#libraries-1) and [github issue](https://github.com/rust-lang/rust/pull/63770).

@plu9in are you sure you don't have a toolchain override with more precedence? See [here](https://github.com/rust-lang/rustup#override-precedence)

[2020-01-02 20:08] beamop commented on #62
Fix here #35

[2020-01-03 06:07] noname2001 commented on #50
sure
![image](https://user-images.githubusercontent.com/9458206/71709481-56ef7e80-2e32-11ea-88b6-e3b75edb0060.png)

![image](https://user-images.githubusercontent.com/9458206/71709476-4c34e980-2e32-11ea-9289-c15944c80119.png)

[2020-01-03 09:06] chobeat commented on #14
can you point out where the refresh rate of 1 second is specified? Is it implicit somewhere because I couldn't find it.

[2020-01-03 09:53] plu9in commented on #62
Thanks a lot @chobeat, @ebroto, @beamop. I have built bandwhich now.

I had cargo <= 1.39.0 installed in my PATH with more precedence than my home directory. That's why.
What is strange is that when I did `cargo -V` I had a right version (>= 1.39.0).

[2020-01-03 09:53] #62 closed

[2020-01-03 10:03] xtavras opened #64 "Feature request: add theme for terminals with white backgroud"
Right now, if you use terminal with light color background, you see almost nothing. Would be cool if you can switch to using black color for processes and network utilization.

![sht_Selection_184](https://user-images.githubusercontent.com/1867300/71717516-a45ef200-2e18-11ea-824c-c2dc33f156fc.png)

[2020-01-03 14:42] imbsky commented on #9
Oh, I opened the PR before I saw this thread.
https://github.com/Homebrew/homebrew-core/pull/48504

[2020-01-03 14:51] jbpratt78 commented on #9
Good luck :smile_cat:

[2020-01-03 14:53] imbsky commented on #9
The maintainers at Homebrew are really friendly so I don't think there's any problem. I sent a huge PR about LLVM before, but they thought with us and finally solved a problem together 🙂

[2020-01-03 15:00] jbpratt78 commented on #9
I imagine so, I have no experience with them. I just did not want to waste any time since we currently have a few pending issues/PRs with MacOS as well as they were blocking any PRs I noticed with `--version` or `--help` flags (see above thread). Hopefully this gets through though! ( #51 #44 #56 #49 for reference)

[2020-01-03 15:11] imbsky commented on #9
Yes. but it difficult to test everything in Homebrew, and all tests used in today's new formulas are also not so sound if they are not allowed print tests. Well, I will talk with them.

[2020-01-03 15:47] nimbius commented on #51
confirmed seeing this issue on Mojave 10.14.6

[2020-01-03 16:51] niiiil commented on #64
Other options include:

- let the table rows use the default foreground colour instead of `Color::White`,
- provide a way to disable colours entirely.

[2020-01-03 16:54] imsnif commented on #51
There's a fix for this issue, as well as the "getting an error without -i" issue in master right now.
I would prefer to test this before I release a new version, so @zhangxp1998, @Grishy or anyone else who experienced this issue and is comfortable to check this.

Could you please:
1. Pull master of this repository
2. cargo build
3. `sudo ./target/debug/bandwhich`
4. make sure everything works and

[2020-01-03 17:05] LinuxOnTheDesktop commented on #62
1) What package allows one to run `rustup update`?
2) I think this problem should be mentioned in the ReadMe.

[2020-01-03 18:18] ebroto commented on #62
@LinuxOnTheDesktop you can find installation instructions [here](https://doc.rust-lang.org/book/ch01-01-installation.html).

I will add a note to the README as you suggest.

[2020-01-03 18:54] munntjlx commented on #51
It seems to work. The display changes quite quickly though so its kind of hard to see whats going on. But I definitely see stuff now without specifiying the interface. It doesn’t want to quit though, had to kill -9 the process as root.

Sincerely,

Thomas J. Munn
Consulting Security Engineer
LexisNexis

On 1/3/20, 11:54, "Aram Drevekenin" <notifications@github.com<mailto:notifications@github.com>>

[2020-01-03 18:55] munntjlx commented on #51
It seems to work. The display changes quite quickly though so its kind of hard to see whats going on. But I definitely see stuff now without specifiying the interface. It doesn’t want to quit though, had to kill -9 the process as root. ctrl c didn't stop it.

[2020-01-03 19:02] #44 closed

[2020-01-03 19:10] imsnif commented on #51
Thanks @munntjlx - I'm trying another option, just pushed to master. How about now?

[2020-01-03 19:16] munntjlx commented on #51
It exits now. Any way I can update the polling cycle? It erases every second?

[2020-01-03 19:17] munntjlx commented on #51
or perhaps an 'average' of the last 60 seconds, then print for a minute?

[2020-01-03 19:17] munntjlx commented on #51
Works though! YeA!

[2020-01-03 19:21] imsnif commented on #51
Thanks @munntjlx !

You have a very good point - right now it's mostly useful for prolonged traffic, otherwise it disappears too fast. This is actually the only issue I want to solve before a `1.0.0` release: https://github.com/imsnif/bandwhich/issues/14

[2020-01-03 19:23] munntjlx commented on #14
You might want to model this on something like iftop, which has a very nice display that does 'running' averages by top 10. They even have a nice logarythimic mode which makes it really easy to see who is being naughty.

[2020-01-03 19:25] Tobbeman commented on #59
#67

[2020-01-03 19:39] floriancargoet commented on #51
I also confirm the issue is gone on master.

[2020-01-03 19:49] zhangxp1998 commented on #51
Master no longer works for me, shows no traffic

[2020-01-03 20:20] imsnif commented on #51
@zhangxp1998 - thanks for keeping tabs on this. I think we're going to go with 1s for this coming release as it seems to be working for more people. I really want to understand what's going on here and find a better solution. Would you be interested in investigating this deeper?

[2020-01-03 20:22] zhangxp1998 commented on #51
@imsnif  Yes of course :)

[2020-01-03 21:31] zhangxp1998 commented on #51
Root cause found! @imsnif
It's a bug inside libpnet.

See [bpf.rs](https://github.com/libpnet/libpnet/blob/dc2203a32a00981995b548eed4b4a90010e9491e/pnet_datalink/src/bpf.rs#L351), libpnet did not set the bit mask `self.fd_set` before each `pselect` call. The `self.fd.fd`th bit **must be set** for this call to succeed. Libpnet sets this bit once when the receiver is initialized. However, if no pack

[2020-01-03 21:58] #59 closed

[2020-01-03 22:47] imsnif commented on #51
@zhangxp1998 - great work!! Very quick, too.
This is great news! Let's wait a short while to see if this gets merged, and if not we can temporarily fork libpnet and use it as a dep until it is.

[2020-01-03 22:48] zhangxp1998 commented on #51
@imsnif I looked at pnet GitHub page. They might be seeking new [maintainers](https://github.com/libpnet/libpnet/issues/369) and experiencing delays in PR. Some PRs are open since Mar 5th 2019.

[2020-01-03 22:52] imsnif commented on #51
Let's give them a short while - at least a few days. I see most of the PRs there are being at least commented on.

[2020-01-04 00:33] maxdobeck commented on #54
As a fourth panel? Or as an additional column in one of the existing UI panels?

[2020-01-04 13:30] zhangxp1998 commented on #53
I will take this.
TODO

- Update [sniffer.rs](https://github.com/imsnif/bandwhich/blob/da15644988d4395bb865ad6dfd4d4e34b28cf5f2/src/network/sniffer.rs#L61) to extract information from Ipv6 packets
- Update [Socket struct](https://github.com/imsnif/bandwhich/blob/da15644988d4395bb865ad6dfd4d4e34b28cf5f2/src/network/connection.rs#L34) to accommodate Ipv6 addresses.
- Update [UI logic](https://github

[2020-01-04 13:48] #64 closed

[2020-01-04 14:32] zhangxp1998 commented on #53
@imsnif

https://github.com/imsnif/bandwhich/blob/da15644988d4395bb865ad6dfd4d4e34b28cf5f2/src/os/lsof_utils.rs#L19

Would you give an example of what this regex is supposed to match? I'm trying to adapt this regex for Ipv6 addresses.

[2020-01-04 15:15] lnicola commented on #53
https://github.com/imsnif/bandwhich/blob/da15644988d4395bb865ad6dfd4d4e34b28cf5f2/src/os/lsof_utils.rs#L110, I think.

It might not be a bad idea to replace that regex with hand-written parsing code, though.

[2020-01-04 17:21] imsnif commented on #53
Hey @zhangxp1998 - @lnicola is right. It would definitely be great to get a more robust parser here if you feel up to it, but it might be out of scope for this feature (up to you).

The points you wrote seem to be a good run down. I think the best thing to do would be to start out and see what's missing.

Which brings me to another very important point: Tests. You could probably duplicate a lot of

[2020-01-04 17:24] imsnif commented on #4
Done, thanks @chobeat ! https://github.com/imsnif/bandwhich/pull/55

[2020-01-04 17:24] #4 closed

[2020-01-04 17:30] imsnif commented on #14
So, right now what happens is quite hacky. The display thread updates the UI every second (minus the time it took it to render, so it's exact). This happens here: https://github.com/imsnif/bandwhich/blob/master/src/main.rs#L164

What I would do to start out with, is have some sort of fixed sized list of the last N seconds and display its average - removing old entries from the list to make room fo

[2020-01-04 17:33] imsnif commented on #54
I'd say an additional column, if we manage to find space for it in the UI :)

[2020-01-04 18:49] lnicola commented on #53
My thinking was that regular expressions are a bit overkill for this and they have their costs (performance, compile time, binary size).

---

Sorry for randomly poking around issues like this. I'd love to contribute (and to see how it works), but I'm not sure when/if I'll find some time. One thing I'm curious about is whether BPF and possibly `netlink` would work instead of sniffing for packets l

[2020-01-04 18:54] imsnif commented on #53
@lnicola - nothing to be sorry for. :) I think the discussion is valuable as long as it's on-topic.
As for your suggestion: how about starting by opening a separate issue and writing a little bit more details about your suggestion? Get a discussion going, maybe participate in an implementation - see what works for you.

[2020-01-04 18:58] lnicola opened #71 "[feature] Linux BPF Support"
BPF is an in-kernel virtual machine for Linux that can be used to trace what's happening in the system. It might be faster to use it instead of `libpcap`.

https://blog.redsift.com/labs/writing-bpf-code-in-rust/
http://www.brendangregg.com/blog/2019-12-02/bpf-a-new-type-of-software.html

[2020-01-04 22:54] maxdobeck commented on #54
Part of my "problem" is I the traffic I see on my laptop is very brief.  So without a sustained connection like a download of a file I can't get at good idea of what's flashing quickly on screen.

Bytes IN/OUT is more of a means to an end in my use-case (although I would like to see that).  Really I want to see the process and remote address "stickied" to the UI so they're not just quickly flashin

[2020-01-05 09:44] imsnif commented on #54
Right, I agree it's not a good experience right now. Ideally, I would like to solve this with #14. I feel that the more features we add, the less accessible the tool becomes. So what do you think of us trying to solve this with #14 - that should give you a good few seconds to figure out what's going on and should be much more comfortable?
If #14 doesn't do the trick for you, we can revisit this is

[2020-01-05 10:20] chobeat commented on #14
I would go for the list and retaining all the information at this stage and eventually optimize it for memory usage with pre-computed averages after we consolidate the feature set.

[2020-01-05 10:57] imsnif commented on #31
The interface error has been fixed in `0.7.0`. The no-traffic error has been partially fixed (we have a workaround that should work in most cases), and are working on a permanent fix for all cases - it's dependent on an external dependency.
To follow the progress of that other issue, see: https://github.com/imsnif/bandwhich/issues/51

[2020-01-05 10:57] #31 closed

[2020-01-05 11:00] imsnif commented on #51
There is a somewhat hacky workaround that should solve the problem in some cases (as indicated in this thread) released in `0.7.0`. I hope to publish the actual fix with the dep (whether using `libpnet` or forking it) sometime this week. Leaving this open for now to track it.

[2020-01-05 11:03] imsnif commented on #14
I agree in principle @chobeat - just that I'd be sure to clear the list after a set amount, otherwise we'd just keep taking more and more memory :)

Would you like to work on this?

[2020-01-05 11:09] imsnif commented on #71
I'd be very interested in seeing at least some draft of `bandwhich` using BPF for linux. Then we can talk about the benefits, performance, less dependencies(?) and such.

[2020-01-05 12:26] chobeat commented on #14
I would, but I'm not sure I understand the codebase well enough to do it. I tried to think on how to do it but I'm lost. I think somebody more well-versed with Rust should do it.

[2020-01-05 16:27] imsnif opened #73 "Better error handling when accessing network interface"
Right now this function: https://github.com/imsnif/bandwhich/blob/6190391601d6f7de004b3ec85685e94e816750da/src/os/shared.rs#L34

Uses std::io::Error, probably not as it was intended, in order to differentiate between a permission error, a general network error and an unknown interface type (one that `libpnet` does not support).

It would be nice if we had our own error type for this, that would al

[2020-01-05 16:30] imsnif opened #74 "[Feature] Pause display with space"
When the user presses space, we will pause the application - leaving what's on the screen so that they can read it with ease. Pressing space again should resume bandwhich.

While bandwhich is paused, it would be nice to have a visual indication for this: bonus points if it's noticeable but not annoying. :)

[2020-01-05 17:10] virtualritz commented on #31
I can't confirm. I run bandwhich `0.7.0` on Catalina 10.15.2 and the symptoms are exactly the same as before.

Without `sudo` I get the `Failed to find any network interface to listen on.` error. With `sudo` I get an empty interface (no traffic displayed).

[2020-01-05 17:12] imsnif commented on #31
Hey @virtualritz, you can follow the progress of the empty interface issue here: https://github.com/imsnif/bandwhich/issues/51

[2020-01-05 18:52] imbsky commented on #9
Passed the review and will probably be merged and available soon.

[2020-01-05 18:55] jbpratt78 commented on #46
A new tool to keep an eye on: https://github.com/wojciechkepka/pkger

[2020-01-05 18:58] jbpratt78 commented on #9
@imbsky congrats, interesting test. Not sure if you ever read the thread, this is how I attempted it so if you ever run into this in the future! https://github.com/jbpratt78/homebrew-core/commit/c9caf4842311b2695c06b3801e24a532be40bf10 Thanks for the help. This can be closed once merged into Homebrew-Core

[2020-01-05 19:02] imbsky commented on #9
Thanks 🙂 You may be interested in this.
https://github.com/Homebrew/brew/blob/master/Library/Homebrew/formula_assertions.rb

[2020-01-05 19:11] imbsky commented on #9
Merged!

[2020-01-05 19:13] virtualritz commented on #31
@imsnif: ok, re. the empty interface. But what about the `Failed to find any network interface to listen on.` error? Is `bandwhich` meant to only work with root privileges?

[2020-01-05 19:30] alexcroox commented on #31
I have the version just released on homebrew. It needs sudo to run, doesn't seem to need you to specify the interface either, but sudo is definitely needed to prevent the `Failed to find any network interface to listen on` error.

[2020-01-05 19:38] imsnif commented on #31
Yeah, I'm afraid sudo is definitely required in order to run. OSes don't like giving permissions to sniff network packets without it (and rightfully so :) ).

On the other hand, we just put an error that should tell you to use sudo if you did not. I'm sorry it didn't show in your case! Maybe it doesn't work on a mac?

Would one of you be willing to open an issue for this? You should be told to use

[2020-01-05 19:40] #9 closed

[2020-01-05 19:42] imsnif commented on #9
@jbpratt78 and @imbsky - thanks very much to both of you for your work on this. I hope there are no hard feelings on either side.

[2020-01-05 19:43] arkarkark opened #76 "reduce risk of running app under sudo"
Right now `bandwhich` is built from 153 packages (from the cargo install count). That's a really large attack surface for an app that's going to run under sudo.
Could the app be split into two processes? one of which runs as the user and handles the display, the other (with a smaller number of dependencies) as root to access just the network traffic and pass it to the user process.

I'd really lik

[2020-01-05 19:51] imbsky commented on #9
@jbpratt78 and @imsnif
Actually, I must apologize for about this. If I had seen this thread before I opened the PR, he would have submitted the PR. I feel like I've wasted his work (Although, It's not.), I'm sorry.

[2020-01-05 20:20] imsnif commented on #76
I'll point out that under linux (maybe there's also a way under mac?) one could only give the app the specific permissions it needs for the network and then not use sudo:
[code]

Even doing this though, you raise an interesting point. How do you think this would work, UX-wise? The tool would ask me for my root password? Personally I would feel less safe giving an app my actual password. Do you hav

[2020-01-05 20:51] arkarkark commented on #76
indeed I wouldn't want to give an app my root password. Plus some systems use different ways to authenticate for sudo access (2 factor etc).

I think the easiest way to get this to work is to have the network binary have to be run with sudo. then it starts up the UI binary as the `$SUDO_USER` user.

a nicety would be if the network stuff fails and the command was run without sudo, then to restart

[2020-01-05 20:54] maxdobeck commented on #54
That works for me, I didn't want to make a pull request adding bloat to the cli args.  Nor did I want to split the UI and make a whole new panel(s) just to show the bytes in/out. Regardless of issue #14 it would be nice to see the byte total but perhaps that should be tackled later, this feels pre-emptive.

I agree, this should be revisited after #14

[2020-01-05 21:51] imsnif commented on #76
Ah - I understand now. This sounds like a good change. Thanks!

We would have to find a way to transfer the utilization information between the processes (I'm guessing IPC, unless there are other better options I'm not aware of) - and be sure that doesn't hurt performance for a large volume of connections.

Would you be interested in working on this?

[2020-01-05 21:56] arkarkark commented on #76
I'm afraid I have zero rust experience and a security related change would very likely be a terrible first project.

[2020-01-06 00:35] diehard88 opened #78 "Implementation for android (maybe using termux)"
Is it possible?

[2020-01-06 00:54] virtualritz commented on #31
I did some digging and indeed the code in [`os/shared.rs`](https://github.com/imsnif/bandwhich/blob/3b1969815099ac24b6051755af33689e8d9f32e9/src/os/shared.rs#L112) that deals with this doesn't trigger on macOS because the `ErrorKind` returned when ran w/o `sudo` on Catalina is actually `ErrorKind::NotFound`, not `ErrorKind::PermissionDenied`.

I see if I have some time later to attempt a platform-

[2020-01-06 01:01] virtualritz commented on #31
This quick fix in [`os/shared.rs`](https://github.com/imsnif/bandwhich/blob/3b1969815099ac24b6051755af33689e8d9f32e9/src/os/shared.rs#L112) works for me on Catalina to get the `Try running with sudo.` error:
[code]

[2020-01-06 01:33] zhangxp1998 commented on #50
I decoded the bytes shown on screen and get
[code]
So looks like this error happens here:
https://github.com/imsnif/bandwhich/blob/3b1969815099ac24b6051755af33689e8d9f32e9/src/os/lsof_utils.rs#L79

[2020-01-06 01:45] zhangxp1998 commented on #50
Hmmm the root cause might that the user's system is using encodings other than UTF8, and some processes contain non-ASCII character, our `lsof_util.rs` just crashes.

[2020-01-06 02:16] zhangxp1998 commented on #71
`bandwhich` depends on `libpnet` to sniff packets. Currently, we don't have control over what mechanism is used to sniff packets. On MacOS `libpnet` uses `bpf`, on linux it uses `socket` API with [AF_PACKET](http://man7.org/linux/man-pages/man7/packet.7.html) . I think using `bpf` is a bit overkill, because `bpf` is good at filtering packets through custom rules. We do not filter packets really, w

[2020-01-06 02:20] zhangxp1998 commented on #50
@noname2001 This error should be fixed on master. Would you try it on your machine && confirm?

[2020-01-06 03:12] noname2001 commented on #50
I reinstall bandwhich and it's version 0.7.0
![image](https://user-images.githubusercontent.com/9458206/71792887-6f9ba680-3075-11ea-96a0-5b91c02352d7.png)
![image](https://user-images.githubusercontent.com/9458206/71792895-7aeed200-3075-11ea-8038-ed29fee0f5af.png)

[2020-01-06 03:14] zhangxp1998 commented on #50
Thanks for confirming! Did you build bandwhich from source or did you install it via brew? The fix I pushed is only available on master branch, it is not included in a release yet. Do try build it from source though.

[2020-01-06 03:17] noname2001 commented on #50
I install with cargo, let me try master

[2020-01-06 03:49] noname2001 commented on #50
it works!
may you please delete the decoded image it include the name :)
should I close the issue?

[2020-01-06 03:49] #50 closed

[2020-01-06 07:10] imsnif commented on #71
I think I'd still be interested in seeing a draft implementation of this, if someone's interested. Bypassing libpnet for linux. We won't necessarily accept it, but it might give us something in terms of performance, accuracy and such.

[2020-01-06 07:13] imsnif commented on #31
Thanks @virtualritz - I'm opening a new issue for this. Feel free to pick it up!

[2020-01-06 07:17] imsnif opened #80 "Fix sudo error on mac"
When running without sudo and getting a permission error, bandwhich should alert the user and offer the possibility of using sudo. As discussed here: https://github.com/imsnif/bandwhich/issues/31#issuecomment-570968201 this does not happen on macOS.

@virtualritz found a workaround by listening for the `NotFound` ErrorKind (see thread). This might not be a good long-term solution though, seeing as

[2020-01-06 07:19] imsnif commented on #78
Anything's possible. :)

[2020-01-06 07:22] imsnif commented on #50
Nice catch @zhangxp1998 !! Thanks for this.

[2020-01-06 14:51] avimar opened #81 "Failing to report unbound UDP traffic"
I'm not seeing much traffic (basically just ssh and sshd) despite knowing there's a ton of traffic.

`iftop` shows me over 20x streams open, but they are all UDP -- freeswitch VoIP streams.

They are listed in `lsof -i`

Is this a bug or by design? I saw no mention in the docs or issues of tcp vs udp.

Thanks!

[2020-01-06 14:56] imsnif commented on #81
Oh dear - it should definitely support udp! Could you tell us a bit more about your use case, platform and perhaps an easy way to reproduce this?

[2020-01-06 15:03] avimar commented on #81
I downloaded the binary

Ran on:

[code]

I'm using FreeSWITCH running lots of traffic.

Not sure an easy way to test... google says [netcat](https://superuser.com/questions/124672/how-to-generate-udp-packet)?

[2020-01-06 15:30] zhangxp1998 commented on #81
I managed to reproduce this:

1. Use `mosh` to connect to any remote host
2. Run `htop` or `top` (or any program that will constantly update the screen) on the remote host
3. done

![Xnip2020-01-06_10-28-16](https://user-images.githubusercontent.com/5873227/71827927-46781780-306f-11ea-9a1c-2f9d8c8c6e03.jpg)
![Xnip2020-01-06_10-29-24](https://user-images.githubusercontent.com/5873227/71827978-6b6c8

[2020-01-06 15:33] imsnif commented on #81
Hmm, with netcat I see UDP traffic.
I'm doing:

[code]
And then:
[code]

And I see traffic in bandwhich and the process is correctly identified as netcat.

I wonder what's different in these use cases? (Will keep investigating if nothing comes up, in any case).

[2020-01-06 15:35] imsnif commented on #81
One idea: @zhangxp1998 - does this happen to you when you use your patched `libpnet` branch?

[2020-01-06 15:36] zhangxp1998 commented on #81
@imsnif Yes this still happens

[2020-01-06 15:39] zhangxp1998 commented on #81
Ok found why: We indeed captured UDP traffic, but `lsof` on Mac does not tell you which remote IP/port a UDP socket is connected to. So bandwhich just discarded all UDP utilization info.

[2020-01-06 15:45] zhangxp1998 commented on #81
Further investigation: this regex
https://github.com/imsnif/bandwhich/blob/5fdf236668c4dd3b087e0d6e95db5a8c42b7d438/src/os/lsof_utils.rs#L19

Doesn't even pick up UDP lines

[2020-01-06 15:51] imsnif commented on #81
AFAIK a UDP datagram does have a source and a destination port though, which is what we need.
The `lsof` bug is not good and we should definitely fix it - but @avimar is on linux, so I suspect this particular problem is elsewhere.

[2020-01-06 15:53] zhangxp1998 commented on #81
The datagram does have source/destination port. But output from `lsof` does not. When bandwhich cannot determine which process a packet belongs to, it simply discards that packet.

[2020-01-06 15:59] imsnif commented on #81
The output of my lsof for the netcat test is this:
[code]
Is it different on a mac?

[2020-01-06 16:18] zhangxp1998 commented on #81
On Mac it looks like
[code]
`50651` is the local port. On Mac no remote port is displayed

[2020-01-06 16:30] imsnif commented on #81
Hmm. For outgoing packets, this can make sense.
How about if we toss all of those packets into "Unknown TCP" and "Unknown UDP"?
We'll show them like that in the Processes pane, skip them in the Connections pane and show them in the Remote Address pane.
What do you think?

[2020-01-06 16:34] zhangxp1998 commented on #81
Hmmm we should be able to determine which process these packets belong to. For example we could use triple `<interface, protocol(TCP/UDP), local_port[0-65535]>` instead of `<remote_port, remote_ip, protocol>`  as key in `connection_to_procs` hash map.

[2020-01-06 16:42] imsnif commented on #81
I'm not sure I understand. Right now, we do this:
[code]

Could you help me understand what you're suggesting?

[2020-01-06 16:50] zhangxp1998 commented on #81
Sure. Right now we have a HashMap like this:
https://github.com/imsnif/bandwhich/blob/5fdf236668c4dd3b087e0d6e95db5a8c42b7d438/src/display/ui_state.rs#L55

Whenever we received a packet, we look up this `connections_to_procs` HashMap to determine which process this packet belongs to, so we can calculate how much bandwidth a process is using.

Currently, the key to this hash map is `connection`, wh

[2020-01-06 16:52] Alcaro commented on #81
The kernel only shows a connected destination if the program called connect(). If it didn't, it can instead specify a destination for each packet, using sendto().

[Here's a C program](https://gist.github.com/Alcaro/a2ee7fa7613184f25442e2f7c3250322) that talks UDP with 1.1.1.1 and 8.8.8.8, calling connect() for only one of the sockets. It looks like this in lsof on Linux (I don't know about macOS

[2020-01-06 17:01] imsnif commented on #81
@zhangxp1998 - Right - you said "remote port" instead of "local port" before and that's what threw me off. :) Thanks for clearing this up. We indeed match the process by its local port, which afaik is a safe approach since processes should not bind to the same local port with the same protocol.

So, if I understand both you and @Alcaro - the piece we're missing here is the local port. We have it i

[2020-01-06 17:57] Alcaro commented on #81
Nope, servers tend to have many connections with iface=eth0 local=80 proto=tcp. Use the remote port/address as well if available; if not, skip it and hope for the best. (It'll still give weird results if a UDP server doesn't connect(), but it's right for all TCP, all connect()ors, and all clients. Not perfect, but pretty close.)

I'm also pretty sure you can get duplicate local ports if you have m

[2020-01-06 18:23] ebroto commented on #81
Just to add my 2c, what about using the file descriptor to uniquely identify a "connection"  (including UDP)?  If I'm not mistaken that should be unique.

[2020-01-06 18:31] zhangxp1998 commented on #81
[code]
In that case, all these connections will have local port 80, but possibly with different remote ip/ports. Using <local port, interface protocol> is correct, because there can't be two processes listening on TCP port 80.

[2020-01-06 19:04] Alcaro commented on #81
An interesting idea, but fds do, to my knowledge, not have system-unique identifiers accessible to userspace. (They have kernelspace addresses, but kernel doesn't like revealing that. Wouldn't make much sense for a 32bit x86 process on a 64bit kernel, anyways.)

Process ID would work, but judging by this thread, pcap can't return that.

I somehow thought we needed to match the packet to a specific

[2020-01-06 19:06] zhangxp1998 commented on #81
hmmm network layer has no concept of ports... IIRC, when you bind to TCP port 80, you own TCP port 80, regardless of whether IPv4 or IPv6 is used.

[2020-01-06 19:49] ivanhercaz commented on #78
Have it in Android using Termux would be really awesome.

[2020-01-06 20:09] Alcaro commented on #81
I can reproduce your results if I try to bind to any overlapping subset, such as v4 `127.0.0.1` (localhost) and v6 `::` (any address).

However, non-overlapping combinations work fine, for example v4 and v6 localhost (`127.0.0.1`, `::1`)
[code]
- v4 `127.0.0.1`, v4 `192.168.1.101` (router-assigned)
- v4 "" (any address), v6 `::1`
- v4 "", v6 `::` with s2.setsockopt(socket.IPPROTO_IPV6, socket.IPV6

[2020-01-06 20:15] ebroto commented on #81
Just a counter-example:
![image](https://user-images.githubusercontent.com/816908/71845927-a9969800-30c9-11ea-9a0b-e81988258441.png)

[2020-01-06 20:36] ebroto commented on #81
@Alcaro for the file descriptor topic, we have it in the output of `lsof`, at least in Linux:
![image](https://user-images.githubusercontent.com/816908/71847203-9933ec80-30cc-11ea-8782-0b348b25db59.png)
Here it would be `4` for the TCP connection

[2020-01-06 22:08] elyscape commented on #46
For reference, could you provide a link to Trust's website? I can't locate it, and the name is sufficiently vague that web searches are fairly useless.

[2020-01-06 22:13] jbpratt78 commented on #46
@elyscape https://github.com/japaric/trust yes! My apologies, it is quite a vague name.

[2020-01-07 02:34] jtgd commented on #60
1 sec  is too frequent, 10 sec is too slow.

Personally I would go all the way and allow updates every N secs and average (plain and exponential) of the last M secs, using circular buffer of 1 sec measurements.

I've never coded Rust but that doesn't mean I couldn't have a go at it - it's just another language, right? You seem to have offers of help from others so I'll see how that pans out so I d

[2020-01-07 03:05] noname2001 commented on #50
Nice catch @zhangxp1998 !! Thanks for this. +1

[2020-01-07 19:23] desbma opened #84 "Panic with error: IoErrorWrapper { path: "/proc/net/udp", inner: None }"
I'm getting an error a few second after startup:
[code]
Full log with `RUST_BACKTRACE=full` (indentation is messed up): https://pastebin.com/raw/qGVpSjG0

Environment: Ubuntu 18.04 AMD64, up to date, with the [0.7.0 musl binary](https://github.com/imsnif/bandwhich/releases/download/0.7.0/bandwhich-v0.7.0-x86_64-unknown-linux-musl.tar.gz).

EDIT: `/proc/net/udp` exists and is readable.

[2020-01-07 21:10] #51 closed

[2020-01-07 21:48] zhangxp1998 commented on #81
Fixed by PR #82

[2020-01-07 21:48] #81 closed

[2020-01-07 22:40] zhangxp1998 opened #85 "Master fails to build on MacOS"
Building master branch on Mac failed with

[code]

This is possibly a rename problem with the fork?

[2020-01-07 23:45] mattisdada opened #87 "UDP Support?"
I've downloaded the generic Linux build and ran it on a server running Asterisk. For the most part it looks great! But I did notice that the Asterisk bandwidth was not present (it uses UDP).

So am I being dumb or does this tool not support UDP measurements right now?

Other tools like `iftop` are able to capture the Asterisk / UDP traffic

Thanks!

[2020-01-08 00:42] zhangxp1998 commented on #84
Probably caused by this line
https://github.com/imsnif/bandwhich/blob/c2d18bd69c8ea94b6a6dabc2ed5d0b539a295dbe/src/os/linux.rs#L25

I'm surprised that we are simply `unwrap()ing` stuff... Better to return None or empty vector instead.

[2020-01-08 01:22] zhangxp1998 commented on #87
Duplicate of #81 , this is fixed on master, but we haven't release it yet. Hopefully @imsnif will release a new version soon with this bug fixed. Thanks for reporting!

[2020-01-08 01:22] #87 closed

[2020-01-08 01:29] mattisdada commented on #87
Sorry about that! Must've missed it! Thanks <3

[2020-01-08 09:03] GZ315200 opened #89 "cargo build in Mac get error"
[code]

os:
mac 10.14.6
cargo: cargo 1.37.0-nightly (545f35425 2019-05-23)
rustc: rustc 1.37.0-nightly (02564de47 2019-06-10)
rustup: rustup 1.21.1 (7832b2ebe 2019-12-20)

[2020-01-08 09:17] imsnif commented on #89
Try `rustup update` - we require a more recent version of rust (`>=1.39`)

[2020-01-08 09:40] michalpiasecki1 opened #90 "brew installing wrong version"
[code]

is this brew error?

[2020-01-08 14:51] ReagentX opened #91 "Total Rate Up/Down: 0Bps/0Bps when there is network activity"
Even with `sudo` on MacOS (from `brew`), the app shows no activity, even in verbose mode, for any of the active interfaces. Other apps (iTerm 2 status bar, iStat Menus, `iftop`) show network activity properly.

[2020-01-08 16:15] imsnif commented on #91
Hey, thanks for the report! This is a known issue on some macs and we have a fix for it in master. I hope to be releasing a new version in the next few days.

[2020-01-08 16:16] imsnif commented on #90
Hmm... The logs seem to be showing it's downloading the latest one (0.7.0). Maybe you have another version installed on your machine? (eg. from cargo)
Maybe try `which bandwhich`?

[2020-01-08 16:32] ebroto opened #92 "Upgrade trust-dns-resolver to 0.18"
We are currently pinned at an alpha version.

The interface has changed, there is no background object anymore and the resolver takes a tokio runtime handle on construction. This will require changes in the `dns::Client` and the `Resolver` trait.

If someone wants to tackle this I can give more insights, otherwise I will address it myself soonish.

[2020-01-08 16:51] ebroto opened #94 "Add a macOS build to the CI"
We have code that is built conditionally so we should have the CI test that it works.

See #85

[2020-01-08 16:52] ebroto commented on #85
I've opened #94 to avoid this in the future

[2020-01-08 17:08] zhangxp1998 commented on #84
Fixed by #88

[2020-01-08 17:17] imsnif opened #96 "Release 0.8.0"
I want to release a new version from master. This one's mostly a lot of infra changes (there's exact info about what's inside in the changelog). A lot of these changes are in untested areas.

Would love to get some feedback on what's in master right now to make sure it's working. @ebroto, @zhangxp1998 - would you be willing to take it for a short spin?

[2020-01-08 18:25] ebroto commented on #96
I'm running some tests and the download speed reported seems to be approximately half of the one reported by wget. Can you guys reproduce it? what I've tested
[code]

[2020-01-08 18:28] imsnif commented on #96
Hum... for me this works well. Getting ~1.3MB from wget (my connection leaves something to be desired :) ) and ~1.3MB from bandwhich (with the usual fluctuations that should be handled by https://github.com/imsnif/bandwhich/issues/14)

[2020-01-08 18:29] imsnif commented on #96
I would be surprised if this is so, but could this be a `--release` thing?

[2020-01-08 18:31] ebroto commented on #96
I'm building with
[code]
What about you?

[2020-01-08 18:36] imsnif commented on #96
I'm just doing `cargo build --release` and running the binary... I'll be unavailable for the next few hours, I'm afraid - but other suggestions: I'm not sure if wget counts the actual bytes on the wire or the data written. If it's the latter, it could be some sort of caching? What does nethogs/iftop show?

[2020-01-08 18:40] ebroto commented on #96
Nethogs seems to approach more to the rate shown by wget
![image](https://user-images.githubusercontent.com/816908/72005792-ae388900-324e-11ea-8356-6ba7667936a3.png)

[2020-01-08 18:52] ebroto commented on #96
I'm not sure I get the iftop output, seems x10
![image](https://user-images.githubusercontent.com/816908/72006631-5733b380-3250-11ea-81f6-6e1837e0e723.png)

[2020-01-08 18:57] #94 closed

[2020-01-08 18:58] #85 closed

[2020-01-08 18:59] #84 closed

[2020-01-08 19:02] zhangxp1998 commented on #96
![Xnip2020-01-08_14-01-38](https://user-images.githubusercontent.com/5873227/72007341-7403c300-321f-11ea-9515-1ae12a14c444.jpg)
![Xnip2020-01-08_14-01-45](https://user-images.githubusercontent.com/5873227/72007343-7534f000-321f-11ea-92ed-8665fc63a9c1.jpg)

Bandwidth number works for me well

[2020-01-08 19:06] ebroto commented on #96
Hmm, alright, it might be something on my side then. FTR I've checked with `cargo build --release`, and double checked I'm running the binary that was just built.

[2020-01-08 20:42] JuxhinDB commented on #51
Hey, just jumping in here to let you know that I merged the PR and bumped the version to `0.25.0` . Hope that helps

[2020-01-08 21:11] BastienSilhol opened #99 "Fix sudo error"
**Version: 0.7.0**
**Running on macOS**

<img width="741" alt="Capture d’écran 2020-01-08 à 1 00 56 PM" src="https://user-images.githubusercontent.com/26006762/72016073-e40e4b00-3217-11ea-8bcf-587b7a848a12.png">

I thought I had issue with my network card. In fact it was only that I didn't run bandwhich as **sudo**

[code]

[2020-01-08 21:22] imsnif commented on #96
@ebroto - how about with `0.7.0` or `0.6.0`? Does it still happen?
Also: could you check the mac version and see if it happens? (essentially just switching the `macos` and `linux` around, it should run on linux).

[2020-01-08 21:25] j1warren opened #100 "Option to change the default 'window' when terminal is small"
Is it possible to implement an option for default 'window' to display when the terminal size is small?

I'd love to be able to get 'Utilization by connection' as default information, for example, instead of 'Utilization by process name'.
And even more, an option to always display only that 'window'.

[2020-01-08 21:25] imsnif commented on #51
Thanks very much @JuxhinDB !!

[2020-01-08 21:30] imsnif commented on #99
Hey, thanks for reporting this - and apologies for the confusion. :) We already have an issue for this, but you inspired me to make the title clearer. If you feel like working on it, it would be very much appreciated: https://github.com/imsnif/bandwhich/issues/80

[2020-01-08 21:30] #99 closed

[2020-01-08 21:30] ashpatel opened #101 "cargo install fails on Mac OS Catalina"
Compiling futures v0.3.1
error[E0599]: no method named `to_primitive_values` found for type `pnet_base::MacAddr` in the current scope
   --> /var/folders/32/rk26q2615r31j59ptvscfqpm0000gp/T/cargo-installvKafRX/release/build/pnet_packet-e89ea43c86e9974b/out/ethernet.rs:442:24
    |
442 |         let vals = val.to_primitive_values();
    |                        ^^^^^^^^^^^^^^^^^^^ method not found

[2020-01-08 21:34] imsnif commented on #100
I'd be open to adding `--connections`, `--remote-ips` and `--processes` flags.

These would have to be mutually exclusive, and picking one of them would only display that window regardless of terminal size.

If anyone wants to pick this up and is unsure how to proceed, give me a ping here or privately.

[2020-01-08 21:44] adwhit commented on #101
I'm having the same issue with Ubuntu 19.10

[2020-01-08 22:00] imsnif commented on #101
Hey @JuxhinDB - I hope you don't mind the ping, but it looks like https://github.com/libpnet/libpnet/issues/391 happened again for version 0.23.0

This is not an easy fix for us, since 0.23.0 is also a transitive dependency of one of our dev-deps. Is this a quick fix for you?

[2020-01-08 22:03] JuxhinDB commented on #101
@imsnif Are you guys pointing to `0.25.0` or to `0.23.0` by any chance?

[2020-01-08 22:06] imsnif commented on #101
At the moment we're pointing to `0.23.0`. I want to upgrade to `0.25.0`, but we have `packet-builder` as one of our dev-dependencies, and one of its dependencies points to `0.23.0` as well.

[2020-01-08 22:08] JuxhinDB commented on #101
@imsnif - Now I got what you meant by transitive dependency, my apologies. I'll see if I can adjust the dependencies on existing crates to have `0.23.0` point to non-breaking `pnet_base`

[2020-01-08 22:09] imsnif commented on #101
Much appreciated! I'm also trying to find a workaround :)

[2020-01-08 22:10] JuxhinDB commented on #101
I'll see if I can yank `0.23.0` and re-publish it for you

[2020-01-08 22:17] JuxhinDB commented on #101
@imsnif Unfortunately yanking does delete the package (just won't list for future ones). So will not allow me to re-publish. Based on your dependency I should be able to publish a minor `0.23.1` to fix it

[2020-01-08 22:18] imsnif commented on #101
That would be amazing! Could you also re-publish `0.23.0`? Might help me out with my workaround

[2020-01-08 22:21] JuxhinDB commented on #101
According to [the cargo docs](https://doc.rust-lang.org/cargo/reference/publishing.html#cargo-yank) as long as it's part of your Cargo.lock, it shouldn't break. Other than that crates.io unfortunately won't let me re-publish yanked versions. I'm slowly pushing `0.23.1` as we speak

[2020-01-08 22:23] imsnif commented on #101
My workaround is playing quite a bit with my `Cargo.lock` :D we use `packet-builder` as a dev dep for testing, so I'm trying to re-write it in my `Cargo.lock` as we never need it for crates.io.

But I prefer your solution if it works.

[2020-01-08 22:24] JuxhinDB commented on #101
Ah gotcha :-). Give me a couple of minutes and let me know if it works (I'll ping you)

[2020-01-08 22:28] JuxhinDB commented on #101
@imsnif Could you try now. All `0.23.0` have been yanked and `0.23.1` is available

[2020-01-08 22:33] imsnif commented on #101
Trying now

[2020-01-08 22:39] imsnif commented on #101
Works!! I am able to install `bandwhich` from crates.io with `cargo install bandwhich` now.

[2020-01-08 22:40] JuxhinDB commented on #101
In life, make lemonade. 🍋

Glad it works :-)

[2020-01-08 22:41] imsnif commented on #101
@JuxhinDB - thank you very much for the help and the quick response. A few things:

1. I'd like to upgrade to `0.25.0` - is there anything I should be careful about? I imagine the transitive dep would still be on `0.23.1`, would that be an issue?
2. IMO this is an issue in cargo/crates.io - I think we should go to the maintainers with this, but I'd like to understand it further. Where would be com

[2020-01-08 22:43] imsnif commented on #101
Also @ashpatel and @adwhit - it should work now. :) Thanks for reporting this.

[2020-01-08 22:47] #101 closed

[2020-01-08 22:48] JuxhinDB commented on #101
1. There aren't any breaking changes. Just one non-breaking bugfix really (see [this](https://github.com/libpnet/libpnet/pull/394) PR). So you should be good to upgrade to 0.25.0 without issues. 🤞

2. I kind of have to [respectfully] disagree here, mainly because the issue is in libpnet, my ignorance on package management as a whole and my lack of knowledge in the project. The breaking change stem

[2020-01-08 22:53] imsnif commented on #101
I'm happy to have this conversation here if you don't mind (though would be happy to move it to twitter if you prefer).

I agree entirely with your points. :) I think I didn't explain myself properly:
I don't entirely understand what happened here - but from my viewpoint, a published binary crate broke without me ever touching it. We have a lockfile which locks all our dependency chain. Crates as

[2020-01-08 22:56] JuxhinDB commented on #101
Ah, _that_ is a different perspective. Yes, that is odd and should not happen. Unfortunately I do not have an answer for it just yet, but tomorrow I'll take a closer look because it's odd/interesting. Feel free to update the thread here so we keep it in one place.

I'll let you know what my findings are and we can discuss it in more detail to see if it should be raised with the maintainers

[2020-01-09 08:40] ebroto commented on #96
Hey, sorry but I won't be able to try this until this evening, otherwise feel free to do the release, it seems it was only affecting me (though it would be cool if we can get someone else to verify this!).

[2020-01-09 08:45] imsnif commented on #96
I'm happy to wait until this evening, @ebroto - wasn't planning on doing the release before, anyway.

I'd also be happy to get to the bottom of this - I'm guessing this is not only you and would at least like to know more.

Thanks!

[2020-01-09 15:03] SerhiiBilyk commented on #73
Hi @imsnif , can I try?

[2020-01-09 15:09] imsnif commented on #73
Happily :)

[2020-01-09 16:16] mmstick commented on #39
cargo-deb is great for making local packages, but proper support for debian packaging should have a debian directory in the project root. We package a lot of Rust software in Pop!_OS. The trick is to tarball the vendored dependencies when the system is not a chroot. Example: https://github.com/pop-os/support/tree/support/debian

[2020-01-09 17:23] SerhiiBilyk commented on #73
@imsnif I'm receiving next error:
[code]
I have tried solution from here -> https://www.ostechnix.com/how-to-fix-rust-error-linker-cc-not-found-on-linux/
It did not help me

[2020-01-09 17:32] chobeat commented on #100
Hello @imsnif.

I was toying around to make a proposal for this issue but I see structopt doesn't support mutually exclusive parameters out of the box. Any idea?

The rest seems straightforward: pass the Opt to the UI, select the children in the layout according to the opt, but I cannot figure out how to properly design the CLI

[2020-01-09 18:47] ebroto commented on #96
So... I've been doing some tests, and this enters deeply into the WTF category for me.

I've gone down to the "what" times, specifically until 0.3.7. I've tried with and without `-i`, with and without `-n`. I downloaded different linux ISOs from a couple of different countries. And I consistently see the same behavior: bandwhich/what reports half of the bandwith that wget, firefox and nethogs repo

[2020-01-09 19:00] imsnif commented on #96
Totally wtf @ebroto ! Hum... how about with `--no-resolve`?

[2020-01-09 19:11] ebroto commented on #96
Yep, I also tried with `-n` which should be equivalent

[2020-01-09 19:12] imsnif commented on #96
Ah, sorry - hadn't noticed it in your message. Oi!

And... how about the mac version with lsof? (or did I miss that too?)

[2020-01-09 19:14] ebroto commented on #96
Oh this I did not try, I will do it soon. Right now I'm going to try the prebuilt binaries in github, to see if rebuilding is making any effect.

[2020-01-09 19:17] ebroto commented on #96
Same with the prebuilt binaries :cry:

[2020-01-09 19:29] ebroto commented on #96
Same too by swapping the `cfg`s between "linux" and "macos"
![image](https://user-images.githubusercontent.com/816908/72098188-3fc2fc00-331e-11ea-9980-162a8e23ee5a.png)
The commands I'm running every time
![image](https://user-images.githubusercontent.com/816908/72098307-831d6a80-331e-11ea-8e94-d63ecc650bd1.png)

[2020-01-09 19:34] imsnif commented on #96
Wow, this is some x-files stuff. So bandwhich did not change, did something you can think of in your environment change?

At this point I'd just try to just cut out everything except the network sniffer, run some traffic with netcat and see what gives. But that is quite a deep debugging well. I don't mind going forward and tackling this as it comes: I'm guessing this is an env issue and that it wi

[2020-01-09 20:04] ebroto commented on #96
So for the moment I've tried this
![image](https://user-images.githubusercontent.com/816908/72100570-27a1ab80-3323-11ea-8ca6-eb14d76b278c.png)
Ran bandwhich with `-r -n`
Send to my own local IP, cut after 10 seconds. It seems to be the same result.
I will run the same test with only the sniffer, let's see.

[2020-01-09 20:28] imsnif commented on #96
Hey @ebroto - I published `0.8.0` as you indicated this also happened to you with previous versions.

I'm closing this issue to avoid confusion, but I'd personally like to keep reading your updates here (and adding my 2 bits when I can) if you want to.

[2020-01-09 20:28] #96 closed

[2020-01-09 21:42] ebroto commented on #96
Sorry I had to attend other matters.

Alright, I will try to do some tests in the coming days in other computers, not going to continue today as it's not urgent.

[2020-01-09 22:00] imsnif commented on #100
Ahh, that's too bad about structopt. I wouldn't mind just doing a normal run-of-the-mill if chain that would throw inside `try_main` if we have more than 1 of those flags. If you want to be really fancy, you can make some sort of `validate_ops` function that would do that and also give us a place for similar logic in the future.

[2020-01-09 23:47] zhangxp1998 commented on #91
This should be fixed with the latest 0.8 release, please try, and comment on this thread if the issue still occurs.

[2020-01-10 00:18] stmobo commented on #74
Hi, I was hoping if maybe I could try and tackle this?

I'm a bit new to open source and to Rust, and I'm also busy with college, but I'm hoping that this won't go _too_ awry...

[2020-01-10 02:06] #91 closed

[2020-01-10 06:44] chobeat commented on #100
Alright then I take this issue. Before starting, are we sure we don't want something like "--window processes"? That way we can also have two and it's more flexible.

[2020-01-10 06:57] imsnif commented on #100
Well, that would be great (maybe call it `--windows` and have it accept 1-3 windows to show?)
But it sounds like a much bigger project, no? As you wish. We can also start small and go bigger in another PR.

[2020-01-10 07:17] imsnif commented on #74
Hey @stmobo - looks like there's already an implementation for this in the works. Would love it if you pick up another issue though. If you don't find anything you like, drop me an email: aram@poor.dev and we can try and work out something you'd enjoy coding.

[2020-01-10 07:18] imsnif commented on #89
I'll take the emojis to mean it works :D

[2020-01-10 07:18] #89 closed

[2020-01-10 07:42] ebroto commented on #100
Sorry I'm a bit late to the party, but if I'm not mistaken structopt exposes all of clap functionality, are we sure we can't go with [conflicts_with](https://docs.rs/clap/2.33.0/clap/struct.Arg.html#method.conflicts_with)?

[2020-01-10 08:27] avimar commented on #81
Merged in release [0.8.0](https://github.com/imsnif/bandwhich/releases/tag/0.8.0).

Seems to work fine!

[2020-01-10 08:37] chobeat commented on #100
@imsnif it personally doesn't seem like much of a difference to me. The input is still the opts and the output is still a list of layout children.

@ebroto I will look into it.

[2020-01-10 08:57] imsnif commented on #100
@chobeat - what I expect might be a little work is getting the windows to behave properly in different layouts (spacing between columns and such). But tbh I haven't touched that code in a while, so maybe you have more context than me. I trust your judgment.

[2020-01-10 09:29] chobeat commented on #100
Never trust my judgement lol. I have no idea what I'm doing. Anyway I've tried the first thing you described, just to see what happens: https://github.com/imsnif/bandwhich/pull/107

The option in structopt we were looking for is `group`: https://github.com/TeXitoi/structopt/blob/master/examples/group.rs

[2020-01-10 20:06] #92 closed

[2020-01-10 22:06] zhangxp1998 commented on #74
Implemented #106

[2020-01-10 22:06] #74 closed

[2020-01-11 11:52] imsnif commented on #90
I'm going to close this, as we've had no other such error reported. If you're still having this problem, do feel free to open another issue.

[2020-01-11 11:52] #90 closed

[2020-01-11 11:59] imsnif opened #109 "How shall we fix connection string overflowing in the UI?"
Hi all,

Currently we display connection strings in the UI like this:
[code]
Example:
[code]

Especially when the connection pane is small, this tends to overflow and get cut off. Then we get something like this:

[code]

This is especially bad with host names which tend to be longer than IP addresses. Then something like this happens:

[code]

I can think of several ways to fix this. The solution

[2020-01-11 13:44] Ma27 commented on #109
Tbh I'm not really experienced with that kind of TUI-applications, so I might be pretty wrong here, but another idea would be to allow horizontal scrolling (e.g. with arrow keys) as it's done for instance in `htop` or the systemd-pager, right?

In that case we should at least provide an option to force showing the interface. In some setups it's IMHO quite helpful to know over which interface the t

[2020-01-11 19:07] ebroto commented on #109
After giving this some thought, I'm going to propose stuff from less to more traumatic changes :) Feel free to discard them as you read. Also, a big disclaimer: UI is not my thing.

* I find the least interesting piece of information to be the local port. You can do almost nothing with it as a user.
* I agree with @Ma27 that the interface can be interesting for some use cases. An alternative (whic

[2020-01-12 14:23] imsnif commented on #109
Hah! Not too far at all @ebroto - I like a lot of those ideas :)
Also, thanks @Ma27 for the thoughts. I'm going to reply to everything together:

Re: interface name - point taken. Let's keep it there. This is good feedback for the change.

The reason I don't want to lug everything in one table (even though the layout you mentioned is quite agreeable) is that when we have processes with lots of con

[2020-01-12 18:48] ebroto commented on #109
I see your point about the single table. After thinking more about it, the main feature of bandwhich is showing the traffic rate and in case we have multiple processes but only one of them is consuming most of the bandwidth, connections that are consuming a good amount of the bandwidth could not be shown if above the per process limit :+1:

About the connections and remote address overhaul, would

[2020-01-12 20:58] Trollwut opened #113 "AUR package to build from source"
hey there!

I really like this software as an alternative to `nethogs`.

Do you have plans on releasing an AUR package which builds from the source?

[2020-01-13 15:10] #20 closed

[2020-01-13 17:27] imsnif commented on #113
Hey, glad you like the tool.

There is already have an arch package in the community repo: https://www.archlinux.org/packages/community/x86_64/bandwhich/

Afaik it builds from source... is this what you were looking for?

[2020-01-13 17:32] imsnif commented on #109
I played around with this idea yesterday locally and I think it looks very promising. I was so locked-in mentally about the pane itself that I didn't take the layout into account. I'll try and whip up a branch with a proper implementation soon so that we could all play with it and see if it solves the problem well enough and generally makes sense. Thanks for this input!

[2020-01-13 17:55] Trollwut commented on #113
yes, unfortunatelly they're not yet arrived in the Manjaro repos. :D

Also aren't community package all pre-built? So an AUR package that does compile from source before installing would be nice, just because I like compiling stuff on my PC. :>

It's not a must, especially as it already has a community package, just a suggestion. :)

[2020-01-13 23:40] fharper opened #115 "No rate up when no interface specified"
Not sure how I can debug that, so please feel free to let me know what I can do, but if I use bandwhich without any parameters, the download rates are good, but I have 0 for upload rates everywhere. It is working well if I specify the interface.

[2020-01-14 01:27] vlmutolo commented on #14
@imsnif, you should also consider an [exponential moving average](https://en.m.wikipedia.org/wiki/Exponential_smoothing). It has a few nice properties that are relevant here:

1. The implementation is easy. Each process only needs to store a single number because the update function is iterative (`new_smooth = alpha * new_raw + (1-alpha) * old_smooth`). This way, you can avoid a ring buffer or som

[2020-01-14 02:35] zhangxp1998 commented on #115
Thanks for reporting! I reproduced this on my Mac OS 10.15 on master branch. This is probably a bug, will look into it deeper.

[2020-01-14 03:17] zhangxp1998 commented on #115
So, on my Mac, I added some debugging statements. Seems like the sniffer is getting packets on interface `ap1`, which it shouldn't On Mac, the only interface active is `en0`. Since interface `ap1` has no IP, the sniffer fails to determine the direction of traffic, and just assumed it is download. I suspect that there is a bug here
https://github.com/imsnif/bandwhich/blob/09b1665370efe84920c71310c1

[2020-01-14 16:11] imsnif commented on #115
@zhangxp1998 - about the fix (having this conversation here because the PR is already merged): doesn't that mean that in this case we still won't see the uploaded packets? They simply won't be incorrectly identified as download? Or am I missing something?

[2020-01-14 17:12] imsnif commented on #113
Aha - I'll admit that I don't know this space very well. We used to have an AUR package but it was deleted in favor of the community package. I didn't know that was an issue. :/

Maybe @kpcyrd can tell us more as the community package maintainer?

I think what this package build does it download the source and then compile it with cargo - so you do get to compile it on your machine. :)

[2020-01-14 17:15] imbsky commented on #109
The ideas that have already come up in this thread are great. I don't have a strong opinion about this so I'll leave it to you. (I'm sorry for the delay in confirming and responding to this as I have been busy moving recently.)

[2020-01-14 17:15] imsnif commented on #14
This has been released in `0.9.0`, yay! :D

@vlmutolo - for the moment we went for a normal run-of-the-mill average of the past 5 seconds. If you'd be interested in having a go at implementing your suggestion, I'd be very happy to review and merge it if it feels better.

[2020-01-14 17:15] #14 closed

[2020-01-14 17:18] imsnif commented on #54
Hey @maxdobeck - we just released `0.9.0` which includes #14. If you still feel the need for something like this, I'd be happy if you'd write up a proposal in a new issue.
I hope the tool feels better for you now. :) Would love to hear further comments and suggestions (or of course receive contributions).

[2020-01-14 17:18] #54 closed

[2020-01-14 17:19] imsnif commented on #60
Hey @jtgd - #14 has been released in `0.9.0`. If you feel it has not solved the issue and you'd still like a (configurable) update rate, ping me here and we can re-open and discuss this further.

[2020-01-14 17:19] #60 closed

[2020-01-14 17:44] ebroto commented on #109
For the record, I just realized that my text size was too big to make the process name fit in the connections pane... It must have been weird trying to understand what I was saying there xD

[2020-01-14 17:50] Trollwut commented on #113
oh no, it isn't! it just takes a few days so Manjaro repos take over new Arch packages. So it's just a little waiting time.

Though often there is a pre-built package (like now) in the repos, but also an AUR package, which builds from source.

But don't fear, everything is good for now. :D An additional AUR package would be nice for jerks like me, but it's not a necessity.

Yes, looking at the PKG

[2020-01-14 17:57] imsnif commented on #109
Ah - I thought you meant you wanted it in an "easier to grok" way, because right now it's more "what process this connection belongs to" rather than "what processes did this connection spawn". :D

@imbsky - no worries at all. Just looking for input from folks who are using the tool. Hope the move went well!

[2020-01-14 18:01] eli-schwartz commented on #113
They are prebuilt -- the community packagers download the source code and pre-build it before delivering the built version to users' machines via pacman. :p

The guidelines forbid PKGBUILDs which download a prebuilt binary and package that rather than source code, except for -bin packages (AUR only, not official repos). Exceptions are made for proprietary software, where there is no source code.

[2020-01-14 18:01] eli-schwartz commented on #113
Maybe this would be a good reason to switch to archlinux? :thinking:

[2020-01-14 18:02] zhangxp1998 commented on #115
We will see uploaded packets, with or without the fix. The fix simply correctly classify packets as Download/Upload.

[2020-01-14 18:06] Trollwut commented on #113
Thanks for clearing that up for me! Sorry, been a stressful workday :D

So an AUR package, which builds from the latest `master` commit might be an addition for the users?

comming from Arch, I absolutely love this distro! Being on Manjaro because it's just a bit more stable, though a waiting time for like a week for new packages. It's a tradeoff, but I'm fine with that. :)

[2020-01-14 18:07] kpcyrd commented on #113
@Trollwut if you want to build packages in community from source you should look into [asp](https://github.com/archlinux/asp). :)

This can be done by uploading `bandwhich-git` to the aur which would need to conflict with `bandwhich`.

[2020-01-14 18:08] eli-schwartz commented on #113
-git packages are perfectly fine, and suitable for upload to the AUR because they are useful to Arch Linux users. But that's explicitly the unstable development version, so it's not really a direct solution to some other distribution not having the package yet.

[2020-01-14 18:16] imsnif commented on #115
Ahh, I understand the relation now! Thanks for clearing this up.

@fharper - a fix for this has been released in `0.9.0`. It's already in `cargo` and should be in `brew` soon. If you could check to make sure this was also your issue so that we can close this, that would be awesome. Thanks for reporting this!

And thanks @zhangxp1998 for the quick fix!

[2020-01-14 18:18] Trollwut commented on #113
Of course, I totally get that :)

[2020-01-14 18:37] Trollwut commented on #113
Sorry to bother again!

I made a first draft after reading your wiki pages (and of course I'd never steal from another PKGBUILD 🤭):

https://github.com/Trollwut/aur-pkgbuilds/blob/master/bandwhich-git/PKGBUILD

If someone more experienced with the AUR could review this, I would be very glad. :) Also don't hesitate to tell me if it's shit!

Currently reading through the submission guidlines.

[2020-01-14 18:48] kpcyrd commented on #113
The original PKGBUILD was pretty good, maybe @imsnif just wants to resubmit it as a -git package. "stealing" is the wrong attitude, if there's a high quality PKGBUILD just pick that as a base, we're talking about opensource here after all.

[2020-01-14 18:58] Trollwut commented on #113
Of course, I'll wait @imsnif's answer about that :)

rofl, I wasn't even clever enough to think about looking at the community package... was a little too enthusiastic about that.

[2020-01-14 20:44] #53 closed

[2020-01-14 20:46] imsnif commented on #113
My preference would be not to have to maintain an AUR package. Please take my PKGBUILD and do with it as you wish :)

[2020-01-15 00:44] E-196 commented on #31
pub struct KeyboardEvents; impl Iterator for KeyboardEvents { type Item = Event; fn next(&mut self) -> Option<Event> { match stdin().events().next() { Some(Ok(ev)) => Some(ev), _ => None, } }}

[2020-01-15 01:04] Aaron1011 opened #119 "Document pnet_bandwhich_fork"
The Cargo.toml references a dependency called `pnet_bandwhich_fork`: https://github.com/imsnif/bandwhich/blob/c65d6eb53edb603ab7a3c470166df0373da42feb/Cargo.toml#L21

However, I can't find this crate anywhere on Github. It would be useful if the README documented where this repository is located (assuming that it's publically available).

[2020-01-15 03:02] duycuong87vn opened #120 "Not working on ArchLinux"
Sorry, I can not  install bandwhich on my arch via command

[2020-01-15 03:12] zhangxp1998 commented on #119
(https://github.com/imsnif/libpnet)[https://github.com/imsnif/libpnet]

[2020-01-15 03:22] zhangxp1998 commented on #119
@imsnif Given that `pnet` already merged my pull request, can we revert dependency back to `pnet` ? I vaguely remember there's some complications with transitive dependency versions, but not sure

[2020-01-15 05:56] dmytrokravcuk opened #121 "Caucau"

[2020-01-15 06:55] #121 closed

[2020-01-15 07:59] imsnif commented on #119
Yeah, I did some work on the libpnet upgrade but unfortunately it's not yet possible for us.

In short, one of our dependencies (`packet_builder`) also relies on `pnet`, and it breaks with the new version. Since with cargo (to the best of my knowledge) it's not possible to depend on two different versions of the same crate (every permutation of that I tried locally failed), we can't upgrade until

[2020-01-15 08:09] imsnif commented on #120
Could you give us more information about what is not working exactly? Are you getting an error, or?

[2020-01-15 08:38] Zauberfisch commented on #120
@duycuong87vn make sure you are up2date. Run `pacman -Syyu` and then try again

[2020-01-15 20:56] fharper commented on #115
@imsnif : lgtm (by the way, still not updated on brew).

[2020-01-15 20:56] #115 closed

[2020-01-16 11:12] imsnif opened #123 "Feature: dump current state to logfile"
Sometimes when troubleshooting a network issue, it might be useful to log all the information the tool currently has in a log file for parsing and perhaps a more thorough look than can fit in the UI.

Note that this should work both for when paused and not paused.

A good key binding might be "d", but other ideas are welcome as well.

[2020-01-16 11:32] qballer commented on #39
Sorry guys, I'm too swamped to do this.

[2020-01-16 15:03] mmstick commented on #39
I can do this. It'd only take me about 5 minutes

[2020-01-16 15:16] imsnif commented on #39
That would be great.

[2020-01-16 16:33] imsnif opened #125 "Show UNKNOWN in processes table"
At the moment, when we can't classify the process a connection belongs to, we write it as UNKNOWN. That's totally fine, but this means that if there are a lot of them, this might be confusing to the user (the total bandwidth reported will be higher than the sum of processes).

It would be great if we could also see this in the process list.

[2020-01-16 17:19] jconley opened #126 "no activity when using vpn on macOS"
when using a tcp openvpn (in this case, nordvpn)... monitoring en0 does show traffic for just the `ovpn` process to the vpn server correctly... however i am unable to monitor the functional vpn traffic.
ifconfig shows several utun0-utun4 interfaces... one of them will have some active private ip. i am able to see the functional traffic using wireshark monitoring utun4; however using `sudo bandwhic

[2020-01-16 19:07] imsnif opened #127 "Retry DNS only after timeout"
Right now, when we do our reverse-dns queries (getting the hostname of an ip address), if the request failed, we retry immediately. This can cause a lot of connections (also visible in the app!) to be opened if a request repeatedly fails.

It would be nice if we have some sort of progressive backoff mechanism for this... something like: wait for 1 second before retrying, then wait for 2, 4, etc.

[2020-01-16 19:08] imsnif commented on #126
Hey, thanks for opening this issue! I don't have a vpn to debug this (and see if it's reproduced on linux, because I'm not using a mac) so if no-one else can debug this, I'll try to get to this in the near future.

[2020-01-16 19:09] imsnif commented on #120
I'm closing this issue for now. Please ping me if this doesn't work out!

[2020-01-16 19:09] #120 closed

[2020-01-16 19:10] imsnif commented on #113
I'm closing this issue for now. Thanks everyone for chiming in! For the record, I very much enjoy my arch. My favorite desktop distro so far. :)

[2020-01-16 19:10] #113 closed

[2020-01-16 21:29] zhangxp1998 commented on #126
Have you tried `bandwhich` without `-I` ?

[2020-01-16 21:34] zhangxp1998 commented on #126
Also, would you mind telling us the version of bandwhich you are using?

[2020-01-16 21:55] jconley commented on #126
@zhangxp1998 v0.9.0
running `sudo bandwhich` with no parameters shows the same results as using `-i en0`
disclaimer: there are blips of minor traffic on the local subnet which do not flow through the vpn server (e.g. mDNSResponder), but these are inconsequential.

[2020-01-16 22:04] jcfvalente commented on #125
Hi @imsnif, do you mind if I give this one a try?

[2020-01-16 22:26] zhangxp1998 commented on #126
Hmmm I'm on a Mac but I cannot reproduce this issue with the VPN I have. Looking at nordvpn, it is a paid service so it does not look like I will be able to test it on nordvpn.

[2020-01-16 22:41] zhangxp1998 commented on #126
Okay found why: `utun[0-9]` work just like loopbacks: packets on this interface have no ethernet header, instead, the first 4 bytes of the packet is set to a magic value. `libpnet` discards the first 4 bytes and prepends 14 bytes of 0s. During parsing, we didn't skip the first 14 bytes.

[2020-01-16 22:47] zhangxp1998 commented on #126
Honestly I can't think of an efficient way to fix this... Given an interface it is difficult for us to determine if this is a VPN interface or regular ethernet/wifi interface. We could just see if the first 14 bytes of the packet is 0, if so, skip the first 14 bytes. But this feels like a hack

[2020-01-16 23:55] #126 closed

[2020-01-17 03:07] zhangxp1998 commented on #127
Correct me if I'm wrong, currently we will retry every second?

[2020-01-17 09:35] imsnif commented on #127
Yep. I have a bit of a spotty internet connection though, so sometimes my whole connections pane is filled with our own DNS requests for minutes on end (which we somehow classify as unknown, btw). I thought this can make things a little friendlier.

[2020-01-17 16:50] j1warren opened #131 "Running without sudo, but with CAPS doesn't recognize other users' processes"
Running without sudo, but with CAPS applied doesn't recognize other users' processes.
Doesn't show them in Processes pane and in Connection pane shows program as `<UNKNOWN>`.

Probably should note in README, that caps are not 100% analogous of sudo.

[2020-01-17 16:52] Alcaro commented on #131
I'm pretty sure this only applies if [hidepid=](https://linux-audit.com/linux-system-hardening-adding-hidepid-to-proc/) is set. Its default varies between Linux distros, and admin may have manually changed it.

[2020-01-17 17:21] zhangxp1998 commented on #131
In order to show user processes, `bandwhich` needs to read `procfs` (namely `/proc/net/tcp` and `/proc/net/udp`). I'm not sure if there's a capability for that?

[2020-01-17 17:35] zhangxp1998 commented on #131
Explanation about this subtle difference is added
https://github.com/imsnif/bandwhich/commit/6de8270422e442942329dcf34ffca6f62e6e282f

[2020-01-17 18:23] j1warren commented on #131
Actually, I think deafult Ubuntu doesn't have hipepid enabled, I can see all the pids in /proc, so it's something else.

Also, what is that Upload traffic by bandwhich itself?
bandwhich                                           0                     49Bps / 0Bps

[2020-01-17 21:21] zhangxp1998 commented on #131
Can you see all processes with `sudo` ?

[2020-01-17 21:49] j1warren commented on #131
yes, what files exactly from /proc/$pid/ the program uses?
if it just can't read something there it might be fixed with cap_dac_override, it's still better than to give it root rights with sudo.

[2020-01-17 21:50] zhangxp1998 commented on #131
It needs to read `/proc/net/tcp` and `/proc/net/udp`

[2020-01-17 21:52] j1warren commented on #131
`-r--r--r-- 1 root root 0 янв 18 02:51 /proc/net/tcp
-r--r--r-- 1 root root 0 янв 18 02:51 /proc/net/udp`
I wonder why bandwhich can't use info from it, then.

[2020-01-17 21:58] Alcaro commented on #131
Doesn't bandwhich also use lsof? lsof uses all kinds of stuff from /proc/123/ and /proc/123/task/456/ (fd/78, fdinfo/78, root, exe, cwd, maps, stat, probably a few more).

Do capabilities persist across exec? If yes, that should be enough for lsof; if no, maybe bandwhich should open /proc/123/etc by itself. (Giving lsof capabilities sounds creepy at best to me.)

[2020-01-17 21:59] zhangxp1998 commented on #131
It uses `lsof` only on Mac and freebsd. On linux, it relies on `/proc/net` .

[2020-01-18 01:32] bigtoast commented on #15
I'm starting to look at this and immediately running into issues because termion doesn't support windows and won't compile. I'm going to bang on it for a while and see what shakes out.

[2020-01-18 03:53] zhangxp1998 commented on #131
@Alcaro @j1warren Can you guys verify if the capabilities below enable `bandwhich` to function with out `sudo` ?

[code]

[2020-01-18 04:09] zhangxp1998 commented on #71
FYI: Some linux os implemented [netmap](https://www.usenix.org/node/168897): A packet I/O API designed for high performance and nothing else. If performance is really a concern we can probably look into this. Good news is, `libpnet` already tries to use it whenever the target platform supports `netmap`.

[2020-01-18 07:18] j1warren commented on #131
@zhangxp1998
On my system it solves the problem. Thank you!

[2020-01-18 09:26] imsnif commented on #71
I think we can definitely keep relying on pnet and have this change done there. Shall we close this issue, or did you have other plans for it @zhangxp1998 ?

[2020-01-18 13:46] zhangxp1998 commented on #71
I think we should close this issue

[2020-01-18 13:47] #71 closed

[2020-01-18 14:02] #125 closed

[2020-01-18 14:37] #131 closed

[2020-01-18 15:37] imsnif opened #136 "Possible inaccuracies on (linux) bond interfaces"
Someone reported this on twitter: https://twitter.com/LinuxReviews/status/1218547448928444418. I don't have a lot more details unfortunately.

[2020-01-18 19:47] angeljpyoutube opened #137 "/github/workspace"

[2020-01-18 19:51] #137 closed

[2020-01-18 19:52] angeljpyoutube opened #138 "/github/workspace"

[2020-01-18 20:07] zhangxp1998 commented on #138
?

[2020-01-18 20:10] zhangxp1998 commented on #136
Not sure if this is due to averaging? if the traffic is bursty our averaging calculation will make the numbers go wild. Looking at these screenshots, it seems that we are always reporting a number lower than other tools, which is consistent with my hypothesis...

[2020-01-18 20:10] angeljpyoutube commented on #138
@zhangxp1998

[2020-01-18 20:10] zhangxp1998 commented on #138
Okay why are you opening this issue? And what's the point of `@`ing me?

[2020-01-18 20:38] imsnif commented on #136
That was my guess too. The person on twitter wasn't willing to participate in an issue here, so I think to just leave this open in case someone else encounters this issue and decides to be helpful.

[2020-01-18 21:30] #138 closed

[2020-01-19 17:12] zhangxp1998 commented on #80
![Xnip2020-01-19_12-08-44](https://user-images.githubusercontent.com/5873227/72685079-759d7880-3ab4-11ea-95ed-8d902c6cc5a5.jpg)

On my Mac, without sudo I can still run `bandwhich` normally, but some traffics are classified as "unknown" probably because `lsof` cannot query information about other users' processes.

[2020-01-19 21:07] imsnif commented on #109
So, I started doing some work on this and ended up tweaking the layout a little.

I figured it might be best if we move the connection table to take up the maximum horizontal space.
I also did some additional minor tweaks. Here's a demo image, and if you'd like to play around with the (still drafty) version, you can clone and run it from here: https://github.com/imsnif/bandwhich/pull/139

Would ve

[2020-01-20 08:59] imsnif commented on #80
Interesting. Seems similar to using `setcap` on linux, right? Do you have a guess where the difference is coming from?

[2020-01-20 10:58] norg opened #140 "Failed to find any network interface to listen on"
Hi,

I played around with bandwhich a bit and stumpled upon the issue, that on some interface it prints:

[code]

While other interfaces on this system work. The main difference between those interface is that the working one is the onboard NIC and the other one is a dedicated Intel XL710 card with 10GE SFPs connected and is using i40e driver which is also the same as the onboard NIC is using.
Oth

[2020-01-20 13:32] zhangxp1998 commented on #80
Difference is, Mac doesn't have `setcap`.

[2020-01-20 14:00] imsnif commented on #140
Hi @norg, thanks for reporting this - and sorry for the trouble.
We unfortunately swallow the exact error we get when we fail to listen on an interface (there's an on-going PR to address this at the moment). Would you be willing to help us troubleshoot this?

What I'd ask you to do first is to clone this repository and build+run it locally (if you are not familiar with rust, there are instructions

[2020-01-20 14:04] imsnif commented on #80
For sure. Sorry, I think I didn't explain myself properly. Why do you think there's different behaviour between your mac and the reported user (and presumably, the ones who did a thumbs-up here)? (I don't know a lot about macs, so I hope you have an idea).

[2020-01-20 14:05] zhangxp1998 commented on #80
It's probably in the old days... Where 1 inactive interface will cause the entire program to panic.

[2020-01-20 14:09] imsnif commented on #80
Cool, so let's close this issue.

[2020-01-20 14:09] #80 closed

[2020-01-20 14:55] norg commented on #140
I tested it and it doesn't even reach the point where you wanted me to add the additional print statement. I added additional ones and while the test print statement after `if available_network_frames.is_empty()` is seen the one below `for (_, iface) in network_frames` doesn't show up.

I'm not that familiar with Rust, but if the `is_empty()` condition is true (which explains why I see the first p

[2020-01-20 15:30] imsnif commented on #140
Right, sorry - my bad! We recently moved stuff around. :)

How about if instead of these lines: https://github.com/imsnif/bandwhich/blob/master/src/os/shared.rs#L41-L48

 you do this:
[code]

[2020-01-20 16:01] norg commented on #140
I added those and some more print statements, I can see that in `get_input` the `match get_interface` is correct, as I did:

[code]

I added a simple print before and after `let network_frames = network_interfaces...` to make sure it's also passed. But within `get_datalink_channel` none of the print statements shows anything.
Even those before and after those lines in the `get_datalink_channel` fu

[2020-01-20 16:12] imsnif commented on #140
So just to reiterate - nothing inside `get_datalink_channel` is printed? Seems like we don't even get to this function?

Before we get to this function, we filter the interfaces by interfaces that are up and interfaces that have an IP address. Maybe something goes wrong there.

Could you swap this line: https://github.com/imsnif/bandwhich/blob/master/src/os/shared.rs#L103

with:
[code]
And see wha

[2020-01-20 16:25] norg commented on #140
This is the reason for my mistake :)
The interfaces I want to watch don't have an IP as they are just monitoring traffic.
So I have `interface: "enp216s0f1" is up true, ips []` which explains why it's not processed further.

So this is not a pure bug IMHO. It might be an idea to add another error output like `found no configured ip` and in addition it might be a nice feature to add an option to fo

[2020-01-20 16:31] imsnif commented on #140
Aha! Glad we got to the bottom of this. :)

Also - this is totally not your mistake. I don't think it's reasonable for a user to know this! We should definitely add a more descriptive error message here. I'll open an issue for it.

Force listening on such an interface might be a problem, since we use the interface's IP to classify traffic to processes (eg. we can't know what interface firefox is u

[2020-01-20 16:39] norg commented on #140
It would be an idea to disable other features (like those with process related traffic) if you want to just listen to what traffic is on an interface. In that scenario I'm mostly interested in **Utilization by connection**.

The use case in detail is that you have a switch (or more advanced packetbroker, tap device, span port) with a mirror port and you attach this to the system where you want to

[2020-01-20 16:44] imsnif commented on #140
@norg - that makes sense. Thanks for your help! Would you be able to work around this meanwhile by listening to the mirrored interfaces instead?

@zhangxp1998 - I have some ideas about how to address this, but I'd very much like to hear your thoughts first. What say you?

[2020-01-20 16:48] norg commented on #140
That's the interface I want to run **bandwhich** on :) So the cable leaves the mirror port from the switch and is connected to the interface **enp216s0f1** on the linux system which is the only place I would see the traffic I want to check.

But it's not urgent, just me playing around with alternatives to iftop. So if this will be supported some day that would be nice as bandwhich seems to be have

[2020-01-20 17:01] zhangxp1998 commented on #140
Originally, I filter out interfaces that are not up or don't have IP to save CPU usage. As these interfaces probably won't have any packets going through. Since we create a separate to probe each interface, filtering out some useless interfaces can save quite some resources. However, some of the assumptions I held are clearly false now. Mirroring interfaces(or potentially bond/bridge interfaces) m

[2020-01-20 17:04] imsnif commented on #140
I started following the code path of doing that and the place I see some issues is where we classify the packets in the network sniffer. If the interface doesn't have an IP, we won't know if this is an incoming or outgoing packet. Maybe for such cases we can cross-reference the bound connections to find a match?

[2020-01-20 17:05] zhangxp1998 commented on #140
We could also use MAC addresses? Sounds simpler to me

[2020-01-20 17:36] imsnif commented on #140
Also, actually - coming to think about it - nothing from /proc or lsof is relevant here... so definitely MAC addresses. Joining your question about whether they are also mirrored or not then.

[2020-01-20 20:50] ebroto commented on #109
Hey @imsnif, I've tried your draft and it feels great! The information in "Utilization by Connection" is much easier to read and I think your idea about shortening the hostnames works very well as it's easy to relate to the other pane.  Nice job!

IMO this could get merged as is when it's ready. If I had to change something, I think we could split a bit the information in the connection string by

[2020-01-21 07:17] j1warren commented on #131
Besides README, I guess we should have new info on capabilities in the program itself. So far it is

`* Build a setcap(8) wrapper for bandwhich with the following rules:`
        `cap_net_raw,cap_net_admin+ep`

[2020-01-21 09:27] imsnif commented on #140
I've been reading a little more about [promiscuous mode](https://en.wikipedia.org/wiki/Promiscuous_mode), and I think even the MAC address solution won't work for us in this case. Seems like this mode is mostly intended for packet sniffing of another interfaces, just like @norg is doing.

IMO - the best thing we can do here is add a feature called "promiscuous mode". We would essentially be starti

[2020-01-21 09:32] norg commented on #140
This sound close to what I would expect. In such scenarios you're mostly interested in the network flows and how much bandwidth they use. I don't know how iftop does this but you can still distinguish between the different flow directions. So you have two lines I**P A -> IP B** and **IP B -> IP A** and the amount of traffic for each direction of the flow. But you don't need any infos about the loc

[2020-01-21 09:42] imsnif commented on #140
I think in our case, you would see this as 1 line and get both the up and down traffic. We would just randomly decide which IP to put at the beginning of the line, since in that mode we would have no concept of "local" or "remote" ips. Would that make sense?

[2020-01-21 10:00] imsnif commented on #140
Awesome. I'll make an issue tonight and tag you so you let us know your thoughts (if you want to). If someone doesn't pick this up, I'll likely get to it myself sometime in the next few weeks.

[2020-01-21 17:40] #39 closed

[2020-01-21 18:11] imsnif opened #141 "Feature: Promiscuous mode"
On network interfaces, [promiscuous mode](https://en.wikipedia.org/wiki/Promiscuous_mode) would indicate a situation where traffic sent to the interface might not necessarily be addressed to it. An example of such a use case would be to connect a sniffer to a switch port that mirrors the traffic of a different switch port.

In such a situation, bandwhich cannot rely on information regarding system

[2020-01-21 19:24] imsnif commented on #140
I'm closing this issue in favor of: https://github.com/imsnif/bandwhich/issues/141
@norg, @zhangxp1998  - if you have anything to add to the other issue, that would be great.

[2020-01-21 19:24] #140 closed

[2020-01-22 20:35] treeshateorcs commented on #36
ironically this does not compile on openbsd

[2020-01-25 23:45] imsnif commented on #109
New layout has been released!

[2020-01-25 23:45] #109 closed

[2020-01-26 00:47] imbsky commented on #109
Yay!

[2020-01-26 16:05] chobeat commented on #123
I've started looking into it. The first thing I wanted to do was to refactor the conversion of the state to a string and decouple it from the write to terminal. I did it sucesfully here: https://github.com/chobeat/bandwhich/tree/dump_state but the tests fail because there's a newline before every snapshot. My function behaves correctly and contains no newline. Before continuing I would like somebo

[2020-01-26 21:14] imsnif commented on #123
Hey, cool that you're looking into this!
I think what's happening is that after this change, we still keep calling `write_to_stdout` even when the state is empty, which is not what was happening before. I think it can be solved by checking to see whether there are lines in the state and only printing it out if there aren't any.

[2020-01-26 22:57] chobeat commented on #123
ah, makes sense. Gonna try it tomorrow. Thank you.

[2020-01-28 14:10] Dentrax commented on #140
I just installed from `brew install bandwhich` and get this error. That why brings me here. :(

[2020-01-28 14:53] imsnif commented on #140
@Dentrax - when running with `sudo` as well?

[2020-01-28 14:54] zhangxp1998 commented on #140
Maybe we should print the underlying error instead of swallow them?

[2020-01-28 14:57] Dentrax commented on #140
I haven't `sudo` privileges because of this is not my PC. It my company's.

[2020-01-28 14:58] imsnif commented on #140
@zhangxp1998 - agreed completely. There's an ongoing PR for this: https://github.com/imsnif/bandwhich/pull/104

@Dentrax - ah, sorry friend. The tool requires elevated privileges to run.

[2020-01-28 14:58] zhangxp1998 commented on #140
As far as I know, on a Mac, you need sudo privilege to run `bandwhich`

[2020-01-28 15:02] Dentrax commented on #140
Oh... :( Maybe you think about add the `sudo` information on the README file. :) In addition, you can throw a `sudo` exception message instead of "Failed to find..." information. This would be more clear. :)

[2020-01-28 15:05] zhangxp1998 commented on #140
We did mention sudo in README, and we will try to address the error message "Failed to find...". That could certainly be made better. Thanks for your suggestion!

[2020-01-29 21:44] alqemyst opened #145 "Units"
Hello,

First of all thank you for this great utility.

Is there any possibility to switch units to bps (bits per second) since bitrate is usually expressed this way?

Thanks,

[2020-01-29 21:56] imsnif commented on #145
Hey - glad you like it.

Well, this was modeled after the bandwidth measurement I've seen in other places (eg. when you download in firefox, you see "1.5 MB/s"). Do you have an example where the rate is represented in bits?

[2020-01-29 22:25] alqemyst commented on #145
Well, this is heavily used in video streaming. It makes sense if you are comparing measured against total bitrate which is always expressed as 100 Mbps, 1 Gbps, 10 Gbps etc.

If you think this is interesting it should be simple. Multiplication by 8, it could be done with additional flag. I would like to help.

[2020-01-29 22:59] canDry opened #146 "Error compiling on debian 9v5"
![Screenshot from 2020-01-29 17-55-03](https://user-images.githubusercontent.com/8286540/73405057-051b0680-42c1-11ea-8925-b7f8ac266fff.jpg)
Running the latest rustc (1.42 nightly) and cargo (1.42 nightly)

[2020-01-29 23:24] imsnif commented on #145
Cool, sounds good. Let's have an optional `--use-bits-unit` flag that does this (unless you have a better name in mind, ofc :) ).

[2020-01-29 23:30] alqemyst commented on #145
Thanks so much for taking this into consideration. I suppose whole thing regarding connection speed / bitrate is there due to legacy reasons but still you can't buy connection in MB/s :)

[2020-01-30 08:17] ebroto commented on #146
Hi @canDry, thanks for your report.

I can build bandwhich with 1.42. I suspect there's another much older rustc/cargo installed on your system (probably through the package manager) which is taking precedence.

The following commands may help finding if that's the case. From the bandwhich repo directory:
[code]
also:
[code]

[2020-01-30 22:13] canDry commented on #146
Thanks for the quick (and helpful) response @ebroto.
Alas, I do have the correct versions of cargo and rustc installed, and no other usurping interlopers.  The problem: _I'm an idiot_ and know little about rust and was _attempting to use...
`rustc main.rs`
... to compile the code - instead of cargo to build it.
Thanks again for your useful tips though!

[2020-01-30 22:46] ebroto commented on #146
Haha don't be so hard on yourself, that could have worked with a simpler program :)

I'm glad to hear that the problem is solved, I will close the issue then.

[2020-01-30 22:46] #146 closed

[2020-02-06 11:10] maxandersen opened #147 "Feature: accumulated usage"
great tool and awesome for finding currently running bandwidth "thieves"; but is there a way to have it show accumulated usage for a process  rather than its current usage average ?

[2020-02-06 14:52] imsnif commented on #147
Hey, glad you like it! Have you had a look at `bandwhich --raw`? You can pipe it to a log file and make that calculation in whichever resolution you wish (or even do it through stdout). Do you think that will do for you?

[2020-02-07 06:03] maxandersen commented on #147
i could probably cook something up with `--raw` but I think it would be nicer to have a toggle in the console or on command line to have it show accumulated so its trivial to do. \
that’s what bandwhich does nice in comparison to wireshark - just a one liner to quickly find bandwidth hogs ...unfortunately right now you have to keep your eyes on the screen to spot the trends rather than just  let i

[2020-02-07 07:40] imsnif commented on #147
I understand. Initially I intended to have a separate column for "total transferred", but it made the UI kind of cluttered so I let it go. I wouldn't mind this being toggled though - it's a good idea (especially as we're slowly adding more interactivity to the tool).

I'd definitely accept a PR that adds this functionality as a UI toggle (if you or anyone else wants to work on this).

[2020-02-09 06:46] maxandersen commented on #147
thanks for considering the feature, but my Rust skills are ...well.. rusty or rather non-existent at the moment. Here is my hoping someone else can make it happen :)

[2020-02-17 08:48] chobeat commented on #123
It's taking me forever considering how easy the task is, but I'm slowly progressing.

[2020-02-25 04:36] jmccorm opened #148 "Eliminate vertical whitespace to better utilize available area"
**Introduction:** The following are some suggestions concerning the on-screen presentation that I'd like for you to consider. I respect the fact that you are the author of this application, and that you'll make the decisions you deem best.

**1] Remove / re-purpose lines which are almost entirely blank.**

I currently have an 80x26 window open and it is showing my Utilization by process name.
Belo

[2020-03-01 12:20] amyspark commented on #136
:wave: this is in Manjaro (kernel version `Linux Dianakko 5.4.22-1-MANJARO #1 SMP PREEMPT Mon Feb 24 09:01:11 UTC 2020 x86_64 GNU/Linux`).

![tmux of bmon and bandwhich simultaneously](https://user-images.githubusercontent.com/13498015/75625533-d03eef80-5b9d-11ea-99ca-02a046430c42.png)

[2020-03-01 12:31] imsnif commented on #148
Hey, thanks for all the detailed suggestions. I'm happy you like our tool :)

All of these suggested changes have trade-offs (like most things, I'd guess). It's important to me to illustrate those trade-offs here, and maybe hear your thoughts about them (or of course let anyone else chime in).

I will admit that I'm also not 100% fond of this line of space. This is the default for the terminal-ui

[2020-03-01 12:40] imsnif commented on #136
Hey @amyspark, thanks for bringing this up. I hope you're okay with helping us debug this a little?

To start, a few questions to help identify a possible cause for this:
1. Does this happen all the time, or just in specific situations? With specific sorts of traffic, or?
2. Does this happen for sustained traffic (eg. leaving the app running for 1-2 minutes?)
3. As far as you can tell, are the dif

[2020-03-02 08:04] captain-yossarian commented on #127
Hi @imsnif I would like to work on it. Could you please give me start point?

[2020-03-02 08:49] imsnif commented on #127
@bigtoast is already working on it here: https://github.com/imsnif/bandwhich/pull/133

[2020-03-02 17:23] herbygillot opened #149 "Question: what are steps that can be taken to figure out what an `<UNKNOWN>` could be?"
First off, thank you for bandwhich.

I'm seeing an `<UNKNOWN>` in my process list and would like to know some ways that could be used to figure out what it could possibly be.

[2020-03-02 19:34] imsnif commented on #149
Hey - So an `<UNKNOWN>` happens when bandwhich records traffic that has no matching process.
This can happen for several reasons (that I know of):
1. Some traffic arrived at your machine, intended for an already-closed process.
2. Some packets were sent to your machine with no intended process (unlikely to happen, but possible)
3. The owning process was very short-lived and we did not query the sy

[2020-03-03 15:40] herbygillot commented on #149
Thank you, much appreciated.  I'm still seeing UNKNOWNs even after `--no-resolve` (this is on MacOS), but what you've mentioned makes sense.

[2020-03-03 16:53] imsnif commented on #149
Sure. Let me know if there's anything else I can help with. :)

[2020-03-03 16:53] #149 closed

[2020-03-03 18:58] captain-yossarian commented on #37
If somebody is interested to finish this PR, feel free to pick it up, because I have an issues with testing framework on my local machine

[2020-03-04 14:16] ReagentX opened #150 "100% CPU usage when network interface disconnects while computer is asleep"
Bandwhich will use 100% of the CPU until quit when the network interface disconnects while computer is asleep.

- Plug in an ethernet adapter
- Tell Bandwhich to watch that interface
- Put computer to sleep
- Unplug adapter
- Wake computer

MacOS 10.14.6 (18G3020)

[2020-03-04 14:31] imsnif commented on #150
Umm... broot?

[2020-03-04 14:41] ReagentX commented on #150
Fixed.

[2020-03-04 14:45] imsnif commented on #150
Thanks - just wanted to make sure we're talking about the same thing. :)

Also - thanks for reporting this! I personally don't have access to a mac. Maybe if @zhangxp1998 has time, he can take a look?

[2020-03-04 14:48] zhangxp1998 commented on #150
I do not have ethernet... Can't reproduce it using WiFi either. I suspect this is because this call https://github.com/imsnif/bandwhich/blob/bf492a843e321c0afe308275da80a8e13434ef08/src/network/sniffer.rs#L96  repeatedly fails which drains CPU

[2020-03-04 14:53] zhangxp1998 commented on #150
We can make it: If call fails due to reasons other than timeout, sleep for `timeout` milliseconds.

[2020-03-04 14:58] imsnif commented on #150
Sounds good. So to reiterate: this line needs to change to a match statement. On error, if the error is not a timeout, sleep for 1 second.
Will accept contributions on this one or do it myself otherwise sometime in the near future.

[2020-03-04 15:05] imsnif commented on #150
(btw, an even better fix would be to crash with an appropriate error when the network interface goes offline - but whatever is easier).

[2020-03-04 22:31] chobeat commented on #123
I'm a bit stuck.

I've implemented the first draft of the feature (the file management is not really there yet). The code compiles but then it gets stuck here: https://github.com/chobeat/bandwhich/blob/dump_state/src/dump_mode/dump.rs#L36

The application seems to be freezing here and while I can have an intuition on what would be the problem, I don't have enough Rust expertise to know how to trou

[2020-03-05 09:03] imsnif commented on #123
Hey @chobeat - I will try to give a quick guess regarding this and provide a suggestion, and if it doesn't make sense (or I'm completely off), let me know and I'll take a closer look in the next few days.

I think what happens here is a deadlock of the Arc<Mutex>. Generally, I try not to pass an Arc around to different parts of the application in order to avoid these deadlocks (or at least to make

[2020-03-05 13:21] amyspark commented on #136
@imsnif ,
1. All the time, it always underestimates traffic, even though the connections are properly listed.
2. As far as I've used it, yes.
3. No, always ~3KB/s for an usage of ~300KB/s, about two orders of magnitude less.

[2020-03-05 13:43] imsnif commented on #136
Thanks @amyspark. I want to try to troubleshoot this to find out which part of the app is misbehaving. If sometime in the next few days I give you (either a branch to compile or a compiled binary - whichever is more comfortable for you) would you be willing to run it? I essentially just want to cut out all parts of the app except for the traffic sniffer and see if it reports the total traffic corr

[2020-03-05 14:02] amyspark commented on #136
Sure @imsnif ! Let me know which branch and I'll test it right away.

[2020-03-05 14:49] chobeat commented on #123
Yeah, that was my understanding too and originally I was passing around just the state, but I wanted to reuse the writing function. I will try to decouple the two things and pass only the state. Thank you

[2020-03-07 19:49] alex-bender opened #152 "Hide DNS queries by default + provide a CLI flag to override this behaviour"
Hello!
Thanks for such a good tool. I have a question/enhancement:
is it possible to ignore some connections in `Utilization by connection` window?
For example, all connections to 53 port.
Thanks

[2020-03-07 19:54] imsnif commented on #152
Yes, I also find this very annoying. Especially since most of those requests come from `bandwhich` itself!
I was thinking of not displaying them, but that felt a little dishonest to the user. Do you have a suggestion of how we can handle this better?

[2020-03-07 19:58] alex-bender commented on #152
There are plenty of options:
- specify the port to ignore as options `$ bandwhich --ignore-inbound-port 53`
- add some interactivity: add filtering capabilities to the tool, runtime. Meaning `press "f" key to input filter to ignore processes by port/name/proto
- ...

[2020-03-07 23:10] alex-bender commented on #152
Another thing to consider -- to have this list persistent, let's say, on
the other tab. Because usually connection is to short so it's hard to
track. But have the log of this could be helpful, with process name, exe
path and ppid/pid, and of course ip:port.
What do you think?

On Sat, Mar 7, 2020, 21:54 Aram Drevekenin <notifications@github.com> wrote:

[2020-03-10 08:33] macgeekpro commented on #145
@imsnif on the latest release, the default unit of measurement is Bps. How can I change this to KBps for example or any other variant? Checked on help but no such flag to choose from. Thanks

[2020-03-10 08:57] imsnif commented on #152
The thing is, I don't like "common sense" configuration to be behind a flag. I'd much rather the tool "does the right thing" by default and has a flag for the more esoteric use case.

How about if we say that by default, bandwhich hides DNS queries (and indicates this on the bottom line... something like `Press <SPACE> to pause. (DNS queries hidden)` and then have a cli flag for cancelling that? I

[2020-03-10 08:59] imsnif commented on #145
Hey @macgeekpro - if the measurement is above 1000, the units should jump to the next order of magnitude. I just checked the latest version, and for me it works fine (I'm seeing KBps, MBps and GBps where relevant). Let me know if it behaves differently for you and we'll try to debug it.

[2020-03-10 09:15] macgeekpro commented on #145
@imsnif ah I see. That's an even better design that I never thought of. Thanks.

[2020-03-10 11:08] alex-bender commented on #152
Seems like a good idea. Not sure about space bar, but the general approach is good.

[2020-03-10 11:20] imsnif commented on #152
The space bar is already part of the app. :) I was indicating it in order to clarify where the message should be. Cool! So I'll accept contributions for this. I think it'll be a big improvement.

[2020-03-10 11:21] alex-bender commented on #152
I can look for some help. Let me ask a guy.

[2020-03-10 11:32] olehs0 commented on #152
I'm learn rust lang and I'll try to investigate this issue. I'll notice, If it will be successfully.

[2020-03-10 11:34] alex-bender commented on #152
@imsnif If you could guide olehs0, I can bet my shoe that he will manage to do that!

[2020-03-10 11:38] imsnif commented on #152
Well, I would not want you to lose your shoe - that sounds uncomfortable! :)

Happily. Let me know if you have any questions @olehs0 .

[2020-03-10 11:42] alex-bender commented on #152
Yeah, I would like to keep my pair together, haha. Thanks!

[2020-03-10 14:21] olehs0 commented on #152
@imsnif Hi! I've a little question for you. I try to modify this file `src/os/lsof.rs` but it seems nothing happened, I mean if I put lexical error or something like this then build is still working, could you please help me?

[2020-03-10 14:43] imsnif commented on #152
Hey @olehs0, I'm guessing you're running linux? That module is only used for mac/freebsd. You can see that here: https://github.com/imsnif/bandwhich/blob/master/src/os/mod.rs#L4-L5

[2020-03-10 14:47] olehs0 commented on #152
@imsnif oh, yes, I see, thank you

[2020-03-11 17:24] imsnif commented on #73
Done, thanks @captain-yossarian !

[2020-03-11 17:24] #73 closed

[2020-03-12 22:04] TheLostLambda commented on #147
I might be able to help out, as this is a feature I'd like to see as well. Are there currently any UI toggles other than the SPACE to pause?

Would something like a command-line flag that added a display for total cumulative up/down be reasonable?

[2020-03-13 16:27] imsnif commented on #147
Hey @TheLostLambda - would be great if you'd like to develop this!

Currently the space is indeed the only UI toggle we have (there are some more in the works though). I think in the end it would be great to have this both as a command line argument and as a ui-toggle.

In order to implement this as a UI toggle and also communicate this to the user, we'd at this point probably have to develop a he

[2020-03-13 16:37] TheLostLambda commented on #147
That sounds like a good, incremental plan! It may be a little while before I can give things a proper go, so I'll definitely put it on my to-dos.

And thanks for the lovely application!

[2020-03-18 16:07] olehs0 commented on #152
@imsnif please check the pr

[2020-03-18 16:20] imsnif commented on #152
Will do @olehs0 ! I promise to get to it by this weekend max (busy few days, sorry!)

[2020-03-24 04:46] kaushalyap opened #154 "Fedora official package instead of COPR repo"
[Currently bandwich in Fedora provided by enabling COPR repo](https://github.com/imsnif/bandwhich#fedora), please allow us to install bandwich in Fedora without enabling any repos

[2020-03-24 09:26] imsnif commented on #154
Happily. If you/someone else would like to go through the process of making this happen, that would be awesome. Would be happy to do anything to help from my side.

[2020-03-25 21:09] TheLostLambda commented on #147
I've put up #155 which fully implements the feature as a command-line option!

[2020-03-25 21:26] imsnif commented on #147
Thank you very much for this, @TheLostLambda ! Just letting you know I'll be taking a deeper look at it sometime in the next few days.

[2020-03-27 16:00] TheLostLambda opened #156 "Should bandwidth be sorted by the sum of upload and download?"
Hello!

When looking through the code for an unrelated PR, I noticed that Bandwhich is sorting entries by **either** their upload or download speeds alone (whichever is greater).

Would it be better to sort by upload + download? That way something doing 5MBps / 5MBps Up / Down would be sorted higher than 6MBps / 100KBps Up / Down.

What do others think? Is there a reason it was designed this way t

[2020-03-29 09:27] imsnif commented on #156
Hmm... well, my initial thought was that it would make it easier to find utilization spikes that way, but I don't feel very strongly about this. Have you experimented with changing this? Does it feel more intuitive for you?

[2020-03-29 12:57] TheLostLambda commented on #156
Giving it a try, I don't think it changes to order too often for the rate mode, and I think summing them makes more sense when it comes to displaying the totals over time. I might be inclined to move to summing them personally.

[2020-03-29 15:24] imsnif commented on #136
So, this came up again in #155, and I'd like to try to get back and find the root cause for this. I still cannot reproduce this locally, but  @TheLostLambda encountered this issue with large volumes of data.

My first guess is that this is somehow related to an issue with the ip payload length reporting in libpnet. I made a branch that measures the size of the Ethernet frame rather than the ip pac

[2020-03-29 16:12] TheLostLambda commented on #136
Hi!

I've given this a go and, unfortunately, the same issue persists. Bandwhich reporting ~4MBps when I'm pulling ~25MBps.

Thanks so much for helping with the debugging!

[2020-03-29 16:34] imsnif commented on #136
Hrm... How about if you start bandwhich (in this branch or normally) with the `-i <your interface>` flag?

If that still happens, I'll update the debug branch and try to remove everything except the packet sniffer and some text that updates the total bandwidth on screen. Try to peel away as much stuff as possible.

[2020-03-29 16:42] TheLostLambda commented on #136
No luck unfortunately, with either my wifi interface or a virtual docker interface

[2020-03-29 16:44] imsnif commented on #136
Hum... really more of a hunch than anything substantial, but how about if you kill the docker daemon, restart the interface and then try?

[2020-03-29 17:44] TheLostLambda commented on #136
A good call, but killing docker and deleting the virtual interface didn't resolve the issue. The error does seem speed dependent though. There is less error if the connection is slower, even for the same size of file.

[2020-03-29 17:53] imsnif commented on #136
Ah well, we had to try. :)
I understand regarding the connection. In my mind I'm leaning toward some issues with the acquiring the arc lock. I'll have that minimal total bandwidth implementation I mentioned above in the next few days and then we'll know more. If the issue still happens there it'll be considerably easier to isolate it. Either way, I believe we'll know more.
Thanks for the help! Wil

[2020-03-29 17:54] TheLostLambda commented on #136
Sounds excellent! Thank you again for all of your hard work!

[2020-03-29 22:09] amyspark commented on #136
@imsnif in my testing, upload now matches bmon's output. Download is constantly 0 (which is obviously not).

[2020-03-30 16:29] imsnif commented on #136
Hum @amyspark, thanks for sticking around - that's quite odd!

Alright, I updated the debug branch with a commit that comments out most of the app, leaving just the network sniffer threads and the keyboard input (so that quitting with ctrl-c or q would be possible).

This would now show nothing on the screen, and upon quitting would dump the total and bandwidth to the screen. The bandwidth it show

[2020-03-30 16:37] TheLostLambda commented on #136
Unfortunately it's still acting up... I've been downloading a 1GB file with this command:
[code]
And wget reports around 20MBps, but this is what a got from bandwhich:
[code]

So the rate is still a bit slow and the total is unfortunately 800MB off :(

Let me know if there is any more testing I can help with!

[2020-03-30 17:26] imsnif commented on #136
Aha! This is actually good news, because it rules out most of the app. :) The problem is probably somewhere in the network sniffer.

So, I updated the branch with a version that doesn't even parse the packets, but just counts the raw ethernet frames on the wire. This will mix up and down speed, so you'll only see download (which is a sum of both), but since we're way off accuracy in your cases, I

[2020-03-30 17:33] TheLostLambda commented on #136
Thanks for all of the continued help!

I've given things a go with the same wget command as last time (without around the same speed from wget) and get this back from `bandwhich -i wlo1`:
[code]

Still off unfortunately, but it's good that we are narrowing things down a little!

[2020-03-30 17:35] amyspark commented on #136
@imsnif Tested it with Netflix's fast.com and it now matches my expected bandwidth (~400KB/s).

[2020-03-30 17:42] TheLostLambda commented on #136
For completeness, I've run my test again with fast.com and fast.com gives 180Mbps (so 22.5MBps) and I'm only getting 4.31MBps from bandwhich.

Limiting my speed to 400KBps, I still only get 113KBps from bandwhich

[2020-03-30 17:56] imsnif commented on #136
Alright, we're getting somewhere. Seems like we have two different issues here.

@amyspark - I created a new branch called `debug/inaccuracies2`, in it I included the first iteration of this test that I was too quick to assume would not work in your case. Could you give it a shot?

@TheLostLambda - I made another try in `debug/inaccuracies`, I'm trying to remove the read_timeout configuration from

[2020-03-30 18:56] TheLostLambda commented on #136
Mostly the same sort of results in my branch unfortunately.

[2020-03-30 19:06] imsnif commented on #136
Thanks @TheLostLambda - I have some more ideas, I'll shoot some changes your way in the next few days if I haven't tired you out already . :)

[2020-03-30 19:13] TheLostLambda commented on #136
No worries! I'm grateful for all of the help!

[2020-03-30 22:41] TheLostLambda commented on #136
I got led on a wild ride, but I think I squashed this bug in #157 (more detail in that PR)

Please let me know if the `master_migrate_to_pcap` branch of [this fork](https://github.com/TheLostLambda/bandwhich/tree/master_migrate_to_pcap) fixes the issue for you as well :)

Additionally, out of curiosity, could both @imsnif and @amyspark post the output of this command:

[code]

Where `<interface>`

[2020-03-30 23:28] amyspark commented on #136
@TheLostLambda -- your branch is still wildly off my current bandwidth usage.
As for the `ethtool` output:

[code]

[2020-03-30 23:35] TheLostLambda commented on #136
Hmm, definitely the one with pcap?

Could you try running (as root):
[code]

And checking if the usage is correct then?

It would also be good if you could send `ethtool -k wlp4s0 | grep offload` again after running the first command.

[2020-03-31 09:04] imsnif commented on #136
Hah! That's really interesting. Great work tracking this down @TheLostLambda!!
This is my output:
[code]

I suspect @amyspark's issue comes from somewhere else given that counting the raw bytes was accurate. I would love to check it further.

Tbh, I would be okay with keeping the backend as is and having the offloading shutdown as a documented troubleshooting stage for bandwhich. I suspect most pe

[2020-03-31 09:35] TheLostLambda commented on #136
Hmm, I don't know. I really think it would be better for Bandwhich to handle offloading correctly out of the box, as many other applications seem to do. Additionally, the offloading features are there to increase network performance, so toggling them off does have an adverse effect on high-speed networking.

Personally, I trust pcap to be reliable, as it is the backend for Wireshark, tcpdump, and

[2020-03-31 14:43] TheLostLambda commented on #136
I've got a new, less disruptive fix in #158 :)

[2020-03-31 14:59] llchan opened #159 "Add PID column to processes table"
It would be useful to be able to toggle/flag into a process-level mode to group by pid and display more process-level information like the full command line.

- For the "Utilization by process name" window, we could group by pid rather than process name so that it's easier to find specific heavy network resource consumers.
- For the "Utilization by connection" window, including the pid + cmdline w

[2020-03-31 16:06] imsnif commented on #136
Hey @amyspark - I would be curious to see if @TheLostLambda's fix addresses your issue as well. I just merged it to master (haven't released it yet). If you have the time to check, that would be great. Otherwise I'd be happy to get to the bottom of the issue you're experiencing as well. Thanks!

[2020-03-31 17:29] amyspark commented on #136
@TheLostLambda about the pcap issue, upload rate looks OK with the offload disabled. This is the `ethtool`output:

[code]

@imsnif -- your branch looks OK with @TheLostLambda's `ethtool` fix. Download rate is still 0 here, but upload is correct now.

[2020-04-01 13:45] kaushalyap opened #160 "Recording bandwith usage over a time period and showing it using a graph"
I am making a feature request here. I would like see bandwich allowing users to record their bandwidth usage over a period of time and showing it using a graph. ex: https://github.com/codebox/bitmeteros

1. For graphing we can use https://github.com/fdehau/tui-rs
2. In order to record bandwidth utilization overtime we have output bandwidth utilization to disk in aggregated fashion.

[2020-04-01 16:06] imsnif commented on #159
Hey @llchan, thanks for the suggestion. I must admit I'm a little weary of adding stuff like this. I feel these sorts of features are something that could be implemented "on top" of bandwhich. Either requiring it as a library or using raw_mode.

If you're looking for something to work on, I'd be happy to suggest some issues that need work, or maybe come up with something together?

[2020-04-01 16:10] imsnif commented on #160
Hey @kaushalyap - thanks for your suggestion! `bandwhich` already uses tui-rs to render its UI.
We currently have a PR in the works to display cumulative bandwidth: https://github.com/imsnif/bandwhich/pull/155

About displaying it in a graph: I feel this might be beyond the capabilities I'd like bandwhich to have. But maybe this is something that can be implemented on top of bandwhich, either requ

[2020-04-01 17:08] llchan commented on #159
Totally understand. Feel free to stick a help-wanted label on this and leave it for the community to add. I was mostly filing an issue for visibility before tinkering.

I'll look into the raw mode or library mode, but given that you've already set up the TUI bits I'd prefer to add it in there rather than starting a new project.  Just thinking out loud here, but maybe if you want to set different m

[2020-04-02 02:59] kaushalyap commented on #160
understandable if you output the stats to db another project can pick things up
ex: https://codebox.net/pages/bitmeteros-bmclient-man

[2020-04-02 03:13] kaushalyap commented on #159
@imsnif It would be good to see process id (PID) in the table. For some processes it shows <UNKNOWN> for the process name

[2020-04-02 08:12] imsnif commented on #160
Sure - that can be done with raw_mode, right? `bandwhich --raw | something-that-parses-output-and-writes-to-db`

[2020-04-02 08:16] imsnif commented on #159
Alright - I'd be open to adding the PID to the process table as a separate column.
Note that we'd have to take care to have it react to size changes like the rest of the table does. It would probably be the first thing to go before the "Connections" column.

I'm putting a "Help Wanted" on this, but if one of you wants to implement it, let me know and I'll remove it.

[2020-04-02 10:11] kaushalyap commented on #160
Having option to aggregate --raw is pretty useful.

----------------------
Another issue :
I am sometimes seeing `<UNKNOWN>` for process name, why is that?

[2020-04-02 11:28] imsnif commented on #160
How would you suggest such a flag should work?

re: `<UNKNOWN>`, see this: https://github.com/imsnif/bandwhich/issues/149

[2020-04-02 15:35] kaushalyap commented on #160
Seems we have to get https://github.com/imsnif/bandwhich/pull/155 done, and we may able to extend things from there.

Anyway I am suggesting some flags like below

- t : aggregated result for the hour
- d : aggregated result for the day
- m : aggregated result for the month
- g : aggregate results by process names

so using something like
- `sudo bandwhich -dr -i iName` will keep outputting aggreg

[2020-04-04 20:11] #156 closed

[2020-04-05 15:11] olehs0 commented on #159
@imsnif @llchan I'm going to investigate this issue. It could be a good job.

[2020-04-05 16:30] #147 closed

[2020-04-05 16:35] TheLostLambda opened #162 "Update Usage section of README with `--total-utilization` included"
It might be more reasonable to wait for a release before changing the README, but I just figured I'd let you know since I just noticed!

Thanks!

[2020-04-05 16:37] TheLostLambda opened #163 "Add elapsed time when running with `--total-utilization`"
It might be helpful to have the time elapsed since Bandwhich was started (in `--total-utilization` mode) in the top-right corner of the interface (or somewhere).

This would put total numbers like "10GB" into a bit more context.

[2020-04-05 17:46] imsnif commented on #162
Done, thanks!

[2020-04-05 17:46] #162 closed

[2020-04-05 17:48] imsnif commented on #152
This has been released as part of `0.13.0`

@alex-bender - looks like you will get to keep your shoe. :) Thanks for this @olehs0 !

[2020-04-05 17:48] #152 closed

[2020-04-05 17:52] imsnif commented on #136
@amyspark - we just released a new version (0.13.0) - could you try with it and see if it works for you?

[2020-04-05 20:18] alex-bender commented on #152
@imsnif thanks a lot! I like my shoe very much!
Glad this merged! It's a first contribution from Oleh, @olehs0 congrats!

[2020-04-05 23:07] amyspark commented on #136
@imsnif - no, 0.13.0 consistently underestimates (by a half or more) current traffic. Download rate is still locked at 0.

[2020-04-06 13:38] maxandersen commented on #147
this is awesome! already learned of a few network hogs! :)

[2020-04-11 15:41] asnimansari opened #164 "Unable to run on mac os"
`$ bandwhich` gives me the below error.

[code]

[2020-04-11 15:57] imsnif commented on #164
Hey @asnimansari , does this also happen when you run `sudo bandwhich`?

[2020-04-11 19:00] asnimansari commented on #164
Hey @imsnif `sudo bandwhich` works

[2020-04-11 21:11] #164 closed

[2020-04-15 19:11] richstokes opened #166 "rDNS might not work on latest macos"
[code]

[code]

[code]

[code]

Installed via homebrew

[2020-04-16 08:03] imsnif commented on #166
Hey, thanks for reporting this. That's quite odd.
Would you mind helping me out with a little bit of debugging to find the issue? (I don't have access to a mac)

If you run bandwhich with the -n flag like this `sudo bandwhich -n` does it work? Do you see traffic? (This turns off the reverse DNS resolution, which is what's failing here).

[2020-04-16 16:00] richstokes commented on #166
That works!

[2020-04-19 19:26] imsnif commented on #166
Hey @richstokes, so if you use the same terminal window from which you run bandwhich (when it doesn't work, without the -n flag) in order to do a `ping github.com`, does it work for you?
This error essentially means that bandwhich failed to contact your DNS server, and I'm wondering why?

[2020-04-20 00:33] richstokes commented on #166
Yep, DNS works fine for other apps;

[code]

[2020-04-20 08:55] imsnif commented on #166
Hum... just for debugging, would you be willing to try setting your dns server to 1.1.1.1 and seeing if it works out (with both bandwhich and nslookup)?

[2020-04-20 15:01] richstokes commented on #166
Sure. Switched DNS to 1.1.1.1, cleared cache, retried, same error.

[2020-04-20 19:01] imsnif commented on #166
Thanks! I'd like to give you a debug branch that'll give us a more verbose error in this case with a quick hack. Would you be comfortable running such a branch from this repo? I can provide some instructions if you're unfamiliar with rust.

[2020-04-20 19:10] richstokes commented on #166
Can do when I have a few moments spare - not used Rust so would need info on how to compile/run

[2020-05-03 19:13] imsnif commented on #119
Hey, this has all been sorted out. I removed the pnet_bandwhich_fork dependency and will yank it from crates.io. `libpnet` and `packet_builder` are now in sync with versions 0.26.0 and 0.5.0 respectively and we released bandwhich 0.14.0 depending on those versions. Everything builds find and is green. Yay!

[2020-05-03 19:13] #119 closed

[2020-05-17 08:49] safwanrahman opened #169 "Add support for OpenWRT"
Thanks a lot for the nice and useful package. As OpenWRT is also a linux distribution, is it possible to build a binary for OpenWRT?

[2020-05-17 09:57] imsnif commented on #169
Sure, glad you like it :)

Does the generic binary in the releases work on OpenWRT?

[2020-05-17 13:01] boggle commented on #80
I'm seeing lots of `<UNKNOWN>` even running under `sudo su -` on os x. Any advice on what to do about that?

[2020-05-17 13:17] imsnif commented on #80
Hey @boggle - check out https://github.com/imsnif/bandwhich/issues/149

[2020-05-17 15:35] boggle commented on #149
Same experience. Would it make sense to have a command line argument for changing the polling frequency?

[2020-05-17 15:36] boggle commented on #149
Is there any other way for doing this than polling using lsof? How do all the firewall products for os x do this kind-of thing?

[2020-05-17 16:55] imsnif commented on #149
Hmm - I'm not sure. When polling, this always has the potential of being a problem, even with a very high polling frequency. So I'm a little hesitant to add lots of complexity in the app to handle this case...

I think the only category-of-a-way around this would be to register to some sort of event that would be fired whenever a process binds itself to a port or releases the port. That way we wil

[2020-05-17 20:40] #100 closed

[2020-05-20 13:28] safwanrahman commented on #169
@imsnif The generic binary raises following error when I try to run it.
[code]

[2020-05-20 13:48] imsnif commented on #169
Wow, that's really odd!

I don't know a lot about OpenWRT, but are you able to run other musl binaries normally? Could you walk me through the process you did from downloading the binary until running? Maybe there's a clue there?

[2020-05-20 13:56] safwanrahman commented on #169
@imsnif I actually never run musl binary directly in OpenWRT. I will check more about running musl binary in OpenWRT.
I have downloaded the binary to my machine, copied it to OpenWRT then run `chmod +X bandwhich` and try to execute the binary with `./bandwhich`.

Can you let me know where the building code reside?
Maybe this will be helpful: https://openwrt.org/docs/guide-developer/crosscompile

[2020-05-20 13:57] Alcaro commented on #169
Sounds to me like your OpenWRT is installed on a non-x86 architecture and can't run x86_64 binaries. If execve() returns ENOEXEC (An executable is not in a recognized format, is for the wrong architecture, or has some other format error that means it cannot be executed.), the shell falls back to /bin/sh, which prints a ridiculous error.

To fix, compile for the correct architecture, not x86_64. To

[2020-05-20 14:01] safwanrahman commented on #169
@Alcaro I am using [Linksys WRT3200ACM](https://www.linksys.com/us/p/P-WRT3200ACM/) which seems like using arm processor.

`uname -m` print like following
[code]

[2020-05-20 14:09] imsnif commented on #169
@safwanrahman - I think your best bet in this case, as @Alcaro mentions, would be to compile the source with cargo (directly on the openwrt machine), as described here: https://github.com/imsnif/bandwhich#other-linux-flavours

[2020-05-20 14:35] safwanrahman commented on #169
@imsnif Thanks. Can you guide me how you are building currently? As I need to build it in my host machine for ARM then transfer it to the router.

[2020-05-20 14:46] Alcaro commented on #169
Compiling anything needs a lot of RAM, CPU and storage - resources which are typically not abundant on routers.

I think your best bet would be installing Cargo on a PC and telling it to cross compile. Googling 'rust openwrt' returns a few relevant-looking things, or you can try 'rust cross compile armv7l'.

Alternatively, you may be able to install an emulated armv7l environment on your PC, using

[2020-05-20 15:02] imsnif commented on #169
Thanks very much for your input @Alcaro! I think the idea of running bandwhich on OpenWRT is quite interesting. So @safwanrahman - if you get it to work, I would very much like to hear more. Maybe we could make it easier for others wanting to do this.

[2020-05-20 15:05] safwanrahman commented on #169
@Alcaro Thanks for the suggestion. I have very less idea about rust toolchain as well as OpenWRT toolchain. I will try to find out how to fix it. Thanks for your suggestion.

@imsnif Can you let me know how do you build using cargo?

[2020-05-20 15:19] imsnif commented on #169
I do a `cargo build --release --target x86_64-unknown-linux-musl --locked` on the source in order to build the musl binary, and a plain `cargo build` in order to build for the current machine.

Doing some searching, this seems like a good place to start: https://github.com/japaric/rust-cross

Please feel free to reach out if you're having trouble.

[2020-05-20 15:25] TheLostLambda commented on #169
Hi! Sorry to jump in out of nowhere, but could you run `file bandwhich` or `cat bandwhich` on that executable? I suspect that if you downloaded things with curl, it might have ignored a redirect or something. That's certainly a shot in the dark, but should be easier to check and might save you from cross-compiling.

[2020-05-20 15:27] safwanrahman commented on #169
@TheLostLambda Thanks for the concern! I have run `cat bandwhich` which seems like a binary.

[2020-05-20 15:28] safwanrahman commented on #169
@Alcaro @imsnif Do you have any idea which linker should I use?

[2020-05-20 15:54] safwanrahman commented on #169
Seems like not possible at this moment because of rust bug https://github.com/rust-lang/rust/issues/37507

[2020-05-21 14:43] safwanrahman commented on #169
So after working a lot the night and day, Finally I have got a suggestion of my fellow friend @mominul to use [rust-embedded/cross](https://github.com/rust-embedded/cross) to cross compile for OpenWRT machine and it worked! 🥳 🚀

At first I compiled with `mips-unknown-linux-musl` target, but it did not work. But later I have read about the armv7 processor and compiled with `armv7-unknown-linux-musl

[2020-05-21 15:04] imsnif commented on #169
I'm really happy to hear that, @safwanrahman - great work!

Would you be willing to create a pull request to add these instructions to the README? I think it will be really helpful to others wanting to do the same. Either that or if you prefer, you can write down the commands you used here and I'll add it.

[2020-05-21 15:15] safwanrahman commented on #169
@imbsky Sure, I am writing the process below. I am currently trying to figure out to cross compile for the targets so that it can be installed by the Opkg Package Manager.
I have done following:
- Check the processor of my router as suggested by @Alcaro by using `uname -m`
- Clone the repository
- Install `cross` using `cargo install cross`
- build the `bandwhich` package using `cross build --targ

[2020-05-21 15:19] imsnif commented on #169
Thank you very much @safwanrahman! I'll write it up in the README in the next few days.

[2020-05-23 12:50] imsnif commented on #169
I added these instructions to the readme. Thanks again @safwanrahman for sharing these!

[2020-05-23 12:50] #169 closed

[2020-05-23 12:52] #163 closed

[2020-05-25 17:39] imbsky commented on #169
Oh, I just noticed this. I don't know why you were mentioning me, but I'm glad that this seems to have been closed.

[2020-05-25 17:39] imbsky commented on #169
By the way, since I don't use macOS anymore and use Windows (WSL2) and Void Linux, I will mainly update the Void Linux's package repository. Of course, it's not impossible for me to maintain Homebrew one, so please let me know if you need it.

[2020-05-25 17:41] safwanrahman commented on #169
@imbsky Sorry for mentioning you! Github suggestion suggested your username when I tried to mention @imsnif and I did not notice it!

[2020-05-25 17:44] imbsky commented on #169
Oh, I see. No worries 🙂

[2020-05-28 18:30] mikemadden42 opened #170 "Unable to build bandwhich on Windows"
I'm unable to build bandwhich on Windows 10.  I get the following errors.  Is bandwhich supported on Windows?

[code]

[2020-05-29 07:53] imsnif commented on #170
Hey, thanks for opening this issue. Unfortunately, `bandwhich` does not (yet!) work on windows. :(

I would be very interested in a port, if you or anyone else would be interested in working on this: https://github.com/imsnif/bandwhich/issues/15

[2020-05-29 07:53] #170 closed

[2020-06-15 03:45] rpodgorny opened #172 "stuck on exit"
bandwhich seems to working fine but whenever i try to exit it, it just clears the screen and stays stuck. ctrl-c not ctrl-\ work. i always have to kill it:

fish: “sudo bandwhich -i wlan0” terminated by signal SIGTERM (Polite quit request)

i'm on 64bit arch linux (so you can consider all libraries to be "the latest"). please ask for more info or any other steps i should make to help you debug thi

[2020-06-16 08:14] imsnif commented on #172
Hey @rpodgorny, thanks for reporting this. We've been kind of chasing this issue around a while and I suspect it's due to the library we use to sniff traffic not releasing its thread.

To know for sure, I can create a debug branch and have you test it (essentially, I'll remove everything except the traffic capture and ask you to see if this still happens). Would you be willing to help debug this?

[2020-06-16 08:33] rpodgorny commented on #172
hi! no problem. i'll try my best to help you.

[2020-06-30 07:25] rpodgorny commented on #172
...a friendly bump. ;-)

[2020-07-03 15:00] ijf8090 opened #173 "Install issue Mac OS (High Sierra) - No available formula with the name "bandwich""
Is there an alternative way to install bandwich on Mac?

[2020-07-03 15:04] imsnif commented on #173
Try `brew install bandwhich` - there's an `h` missing between the `w` and the `i` :)

[2020-07-03 15:04] #173 closed

[2020-07-03 15:08] ijf8090 commented on #173
Dunnnh - that was it. Thank you.

[2020-07-19 19:09] sigmaSd commented on #78
For the compile step, these diff makes it almost work
bandwhich_diff
[code]

procfs_diff
[code]

with these changes it fails in linking:
[code]

hacking those lines out makes it compile and have a runtime error as expected, so this should be the last issue regarding compiling.
I'm hoping someone with more knowledge about the subject can figure whats the next step is, as far as I can see those func

[2020-07-20 20:56] sigmaSd commented on #78
Turns out that the last compile issue was a cross-compilation problem, compiling from termux with the above diffs actually work.
Next I need a rooted phone to test. (I'll update with the test when I can)

[2020-07-21 12:24] imsnif commented on #78
Wow @sigmaSd - that's wild! If this works, we can probably make a PR to procfs to make the changes there. If for some reason there's an issue with that, we could also use the mac way of getting the proc info with lsof (I'm guessing that would work on android too, but I don't know).

[2020-07-21 18:42] sigmaSd commented on #78
Currently I don't have a rooted phone to test, and android avd emulator's arm vm is just a slideshow

If someone want to test it and have a rooted andorid phone or arm android vm with good pc (you still need root acess https://stackoverflow.com/questions/5095234/how-to-get-root-access-on-android-emulator ) these are the steps:

1-  install [termux](https://termux.com/)
2 - pkg install rust
3 - car

[2020-07-21 20:27] imsnif commented on #78
Hey @sigmaSd, I tried on my rooted android phone, but unfortunately it only has android 6.0.0. This means that I'm getting an outdated version of termux, which includes rust 1.38, which is not high enough to run bandwhich. :(
I tried cross-compiling but got the same error you mentioned above.
I also tried installing a newer version of rust with rustup, but got a `error: target 'aarch64-linux-andro

[2020-07-21 22:50] sigmaSd commented on #78
Hi @imsnif , Honestly I don't think this is a priority anyway only because of the fact that it requires root.
Hopefully someone interested in it will try it. I'm just curious how well will it work ^^

Note: If someone have a pc with good specs they can just test with an android emulator https://developer.android.com/studio/run/managing-avds (steps: 1) any hardware will do, 2) for the image select

[2020-08-02 00:29] DianaNites commented on #166
Same error here on Arch Linux, `Could not initialize the DNS resolver`, using `systemd-resolved` and googles DNS, `8.8.8.8`, the `-n` flag works tho.

[2020-08-04 12:10] zxlzy opened #176 "Panic when slice Chinese process name"
Each Chinese character has three bytes. So your code in `table.rs` will cause a panic.
[code]
like that:
[code]
panicked at 'byte index 2 is not a char boundary; it is inside '中' (bytes 0..3) of `中文`

[2020-08-04 16:23] imsnif commented on #176
Hey @zxlzy, thanks for reporting this. I have also seen you have opened a PR for this.
I'm going to be away for a couple of weeks and promise to take a look at your solution when I'm back.
I have encountered this issue in another project where a contributor solved it in a different way. Do you think it will also do the trick? https://github.com/imsnif/diskonaut/blob/main/src/ui/format/truncate.rs#

[2020-08-20 19:33] captain-yossarian commented on #37
Hi, @imsnif .
Is this issue still relevant ? I'm happy to continue my work

[2020-08-21 07:06] imsnif commented on #37
Sure @captain-yossarian, that would be great :)

[2020-08-30 15:55] sigmaSd commented on #78
Hi @imsnif , That's nice to see!
As you can see from the diff above bandwihch already works on android, I just changed some compile flags (In a hacky way btw).

[2020-09-07 18:18] mikemadden42 commented on #15
Thanks for all the work on `bandwhich`.  Any thoughts on when a Windows port would be available?

[2020-09-08 08:18] imsnif commented on #15
A windows port is being worked on right now and I think it's in its last stages. You can follow the work here if you like:
https://github.com/imsnif/bandwhich/pull/179
https://github.com/imsnif/bandwhich/pull/180

[2020-09-10 18:23] Joshfindit commented on #149
Would it be possible to list bandwhich's DNS resolution in the process list?

[2020-09-11 08:56] imsnif commented on #15
This has been released in `0.18.0`. Thanks to @remgodow for all the hard work!

[2020-09-11 08:56] #15 closed

[2020-09-11 10:25] Ma27 commented on #166
@richstokes @DianaNites any chance you're running `systemd-networkd` at `v246`? It seems as the `resolv-conf` doesn't support the `trust-ad` option in `/etc/resolv.conf` at version `0.6.2` (which is the one we're using here).

The problem gets fixed on master (https://github.com/tailhook/resolv-conf/commit/83c0f25ebcb0615550488692c5213ca1ae4acd8f), so it should be possible to fix this issue by upd

[2020-09-11 14:30] imsnif commented on #166
Thanks very much for finding this @Ma27, and for the quick fix. My apologies for not finding the time for debugging this myself.

[2020-09-11 14:32] Ma27 commented on #166
Hmm I'm actually realizing now that the reporter has the issue on macos, so I don't if they have the same issue. However my patch fixes the issue for me.

[2020-09-11 14:34] imsnif commented on #166
At the very least we'll get clearer errors after your patch on this.

[2020-09-11 14:44] imsnif commented on #149
Not trivially, I'm afraid. When I want to rule it out, I use the `-n` flag, and then it doesn't talk to the DNS server at all.

[2020-09-11 18:00] lnicola opened #185 "Please remove the "master" branch"
The main (ahem) branch is now called `main`, but `master` still exists and it can be confusing for people who have bookmarks or links in history to files from that branch.